    
      <!-- <button (click)="enviarCorreo()">Enviar Excel por Correo</button> -->
       
      <div class="d-flex align-items-center justify-content-start margin">

        <button 
          type="button" 
          data-bs-dismiss="modal" 
          data-bs-toggle="tooltip" 
          data-bs-placement="bottom"
          data-bs-original-title="Registra un nuevo servicio"
          id="botonDetails"
          (click)="registrarNuevoCarro()"
          class="btn btn-primary btn-styles">
          <span class="button-icon">Registrar servicio
            <fa-icon class="eyeIcon" style="margin-left: 1em;"  [icon]="plusIcon"></fa-icon>
          </span> 
        </button>


        <div class="d-flex filters-container-border  filters-container">
          <!--Spinner de carga-->
            <div *ngIf="loading" class="overlay">
              <div class="spinner"></div>
            </div>
            <button 
              title="Filtros avanzados" 
              (click)="abrirModalFiltros()" 
              class="btn btn-primary btn-filter small-button"
              data-bs-toggle="tooltip" 
              data-bs-placement="bottom">
              <span class="button-icon bold-description-filters"> {{this.FILTROS_TITULO_INPUT}}</span> 
              <span><img src="../../../../../assets/filter-icon.png" alt="Intercambiar" class="default-img-icon-size"></span>
            </button>
            <div class="block-buttons">
            <div class="form-check form-switch switch-button">
              <input 
              id="flexSwitchCheckDefault"
              [(ngModel)]="isSwitchFiltersOn" 
              (change)="switchHandler()" 
              class="form-check-input" 
              type="checkbox" role="switch"
              data-bs-toggle="tooltip" 
              data-bs-placement="bottom"
              [title]="isSwitchFiltersOn ? DESACTIVAR_FILTRO_TITULO : ACTIVAR_FILTRO_TITULO">
              <label class="form-check-label" for="flexSwitchCheckDefault"></label>
            </div>
            <button 
            type="button" 
            [title]="RESETEAR_FILTRO_TITULO" 
            (click)="resetFilters()" 
            data-bs-toggle="tooltip" 
            data-bs-placement="bottom"
            class="btn btn-primary btn-reset-filter">
              <span class="button-icon bold-description-filters"> 
                <img src="../../../../../assets/reset-filter-icon.png" alt="Intercambiar" class="default-img-icon-size">
              </span>
            </button>
          </div>
      </div>

    <div class="ms-auto" style="margin-right: 2em;">
      <!-- Example split danger button -->
      <div class="btn-group">
        <button 
          type="button" 
          class="btn btn-excel" 
          data-bs-toggle="dropdown"
          data-bs-placement="bottom">
          <span><img src="assets/excel-icon.png" id="img" alt="Intercambiar"  class="default-img-icon-size">Exportar excel</span>
        </button>
        <button 
          type="button" 
          class="btn btn-excel dropdown-toggle dropdown-toggle-split" 
          data-bs-toggle="dropdown" 
          aria-expanded="false"
          data-bs-placement="bottom">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="setTipoExport(TIPO_EXPORT_ENTRE_FECHAS)"  data-bs-toggle="modal" data-bs-target="#excelExporterOptions" href="#">Entre dos fechas</a></li>
          <li><a class="dropdown-item" (click)="setTipoExport(TIPO_EXPORT_DIA_ESPECIFICO)"  data-bs-toggle="modal" data-bs-target="#excelExporterOptions" href="#">Dia específico</a></li>
          <li><a class="dropdown-item" (click)="setTipoExport(TIPO_EXPORT_TODAY)">Hoy</a></li>
          <li><a class="dropdown-item" (click)="setTipoExport(TIPO_EXPORT_YESTERDAY)" >Ayer</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item">Salir</a></li>
        </ul>
      </div>
  </div>
</div>


    <table id="listaViajes" class="table table-striped">
      <thead class="table-dark">
      <tr>
        <th>Unidad</th>
        <th>Vehiculo</th>
        <th>Ruta</th>
        <th>T.Vehiculo</th>
        <th>Conductor</th>
        <th>Fecha</th>
        <th>Km</th>
        <th>Duración Aprox</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody class="table-dark">
      <tr *ngFor="let viaje of viajes | paginate: { itemsPerPage: 10, currentPage: p}">
        <td class="custom-color-prefijo-unidad bold">{{ getNumeroUnidadFormateado(viaje.carro.numeroUnidad) }}</td>
        <td>{{ viaje.carro.marca + ' ' +  viaje.carro.modelo }}</td>
        <td>{{ viaje.carro.tipoVehiculo }}</td>
        <td>
          <div>{{ viaje.ruta.ciudadOrigen + ', ' + viaje.ruta.estadoOrigen }}</div>
          <hr class="separador" style="margin: 5px 0; border: none; border-top: 2px solid #ffffff !important;">
          <div>{{ viaje.ruta.ciudadDestino + ', ' + viaje.ruta.estadoDestino }}</div>
        </td>
        <td [ngClass]="viaje.conductor ? 'actived-market-style': 'deleted-market-style'">
          {{ (viaje.conductor ? viaje.conductor.nombre  + " " +  viaje.conductor.apellido   : viaje.deletedDriver) | uppercase }}
        </td>
        <td>
          <span class="date">{{ viaje.fecha | date:'dd/MM/yyyy' }}</span>
          <span class="time separated">{{ viaje.fecha | date:'HH:mm' }}</span>
        </td>
        <td>
        <ng-container *ngIf="viaje.ruta.distanciaKm !== null && viaje.ruta.distanciaKm !== undefined; else noKilometraje">
          {{ viaje.ruta.distanciaKm }}
        </ng-container>
        <ng-template #noKilometraje>N/E</ng-template>
        </td>
        <td>   
        <ng-container *ngIf="viaje.ruta.tiempoEstimado !== null && viaje.ruta.tiempoEstimado !== undefined; else horasNoEspecificadas">
        {{  viaje.ruta.tiempoEstimado }} <span>Horas</span>
        </ng-container>
        <ng-template #horasNoEspecificadas>Horas no especificas</ng-template></td>
        <td>
          <button title="Ver detalles del Vehiculo" (click)="detallesViaje(viaje)" data-bs-toggle="modal" data-bs-target="#confirma-servicio-modal"
          class="btn btn-primary botonesAccion small-button">
            <span class="button-icon"><fa-icon class="eyeIcon" [icon]="eyeIcon"></fa-icon></span>
          </button>
          <button title="Editar Vehiculo" (click)="editar(viaje)" class="btn btn-warning botonesAccion small-button">
            <span class="button-icon"><fa-icon class="editIcon" [icon]="editIcon"></fa-icon></span>
          </button>
          <button title="Eliminar Vehiculo"  (click)="eliminar(viaje)" class="btn btn-danger botonesAccion small-button">
            <span class="button-icon">
              <img src="assets/delete.png" id="img" alt="Intercambiar" class="default-img-icon-size">
            </span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="pagination-container">
      <pagination-controls 
      (pageChange)="p = $event"
      previousLabel="Anterior" 
      nextLabel="Siguiente"></pagination-controls>
    </div>


    <!--Modal de confirmacion o muestra de detalles-->
    <app-popup-mensaje-confirmar-viaje 
      [isModalConfirmacion]="isModalConfirmacion" 
      [viajeSelDetails]="viajeSelDetails">
    </app-popup-mensaje-confirmar-viaje>

    <app-popup-excel-exporter-options-viaje [tipoExport]="tipoExport"></app-popup-excel-exporter-options-viaje>
    


