.small-button {
    font-size: 11px;
    padding: 4px 11px;
    margin-right: 10px;
    
  }

  .small-button {
    margin-left: 0;
  }

  .day-of-week {
    margin-right: 20px; /* Ajusta el valor según sea necesario */
  }

  .separated {
    margin-left: 10px;
  }

  th, td {
    text-align: center;
  }
  