    
    <div class="d-flex align-items-center justify-content-start">
      <div>
        <button title="Ver detalles del Vehiculo" (click)="abrirModalFiltros()" class="btn btn-primary botonesAccion small-button">
          <span class="button-icon"><fa-icon class="eyeIcon" [icon]="eyeIcon"></fa-icon></span>
        </button>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
      </div>
      <button type="button" (click)="resetFilters()" class="btn btn-primary">RESETEAR</button>
    </div>

    
    
    <table id="listaViajes" class="table table-striped">
      <thead class="table-dark">
      <tr>
        <th>Unidad</th>
        <th>Vehiculo</th>
        <th>Ruta</th>
        <th>T.Vehiculo</th>
        <th>Conductor</th>
        <th>Fecha</th>
        <th>Km</th>
        <th>Duración Aprox</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody class="table-dark">
      <tr *ngFor="let viaje of viajes | paginate: { itemsPerPage: 10, currentPage: p}">
        <td class="custom-color-prefijo-unidad bold">{{ getNumeroUnidadFormateado(viaje.carro.numeroUnidad , viaje) }}</td>
        <td>{{ viaje.carro.marca + ' ' +  viaje.carro.modelo }}</td>
        <td>{{ viaje.carro.tipoDeVehiculo }}</td>
        <td>
          <div>{{ viaje.ruta.ciudadOrigen + ', ' + viaje.ruta.estadoOrigen }}</div>
          <hr class="separador" style="margin: 5px 0; border: none; border-top: 2px solid #ffffff !important;">
          <div>{{ viaje.ruta.ciudadDestino + ', ' + viaje.ruta.estadoDestino }}</div>
        </td>

          <td [ngClass]="viaje.conductor ? 'actived-market-style': 'deleted-market-style'">
            {{ (viaje.conductor ? viaje.conductor.nombre  + " " +  viaje.conductor.apellido   : viaje.deletedDriver) | uppercase }}</td>
          <td>

          <span class="date">{{ viaje.fecha | date:'dd/MM/yyyy' }}</span>
          <span class="time separated">{{ viaje.fecha | date:'HH:mm' }}</span>
        </td>
        <td>
        <ng-container *ngIf="viaje.ruta.distanciaKm !== null && viaje.ruta.distanciaKm !== undefined; else noKilometraje">
          {{ viaje.ruta.distanciaKm }}
        </ng-container>
        <ng-template #noKilometraje>N/E</ng-template>
        </td>
        <td>   
        <ng-container *ngIf="viaje.ruta.tiempoEstimado !== null && viaje.ruta.tiempoEstimado !== undefined; else horasNoEspecificadas">
        {{  viaje.ruta.tiempoEstimado }} <span>Horas</span>
        </ng-container>
        <ng-template #horasNoEspecificadas>Horas no especificas</ng-template></td>
        <td>
          <button title="Ver detalles del Vehiculo" (click)="detallesViaje(viaje)" data-bs-toggle="modal" data-bs-target="#confirma-servicio-modal" class="btn btn-primary botonesAccion small-button">
            <span class="button-icon"><fa-icon class="eyeIcon" [icon]="eyeIcon"></fa-icon></span>
          </button>
          <button title="Editar Vehiculo" (click)="editar(viaje)" class="btn btn-warning botonesAccion small-button">
            <span class="button-icon"><fa-icon class="editIcon" [icon]="editIcon"></fa-icon></span>
          </button>
          <button title="Eliminar Vehiculo"  (click)="eliminar(viaje)" class="btn btn-danger botonesAccion small-button">
            <span class="button-icon"><fa-icon class="deleteIcon" [icon]="deleteIcon"></fa-icon></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="pagination-container">
      <pagination-controls 
      (pageChange)="p = $event"
      previousLabel="Anterior" 
      nextLabel="Siguiente"></pagination-controls>
    </div>

    <!--Modal de confirmacion o muestra de detalles-->
    <app-popup-mensaje-confirmar-viaje 
      [isModalConfirmacion]="isModalConfirmacion" 
      [viajeSelDetails]="viajeSelDetails">
    </app-popup-mensaje-confirmar-viaje>
    


