


<app-popup-generico
    [modalLabel]="modalLabel" 
    [tituloPopUp]="tituloPopUp"
    [idModal]="idModal">

            <ng-container *ngIf="mostrarListaHistorial">
                <app-lista-historial 
                    [carroSeleccionadoDetalles]="carroSeleccionadoDetalles"
                    (agregarHistorial)="addHistory()"
                    [verSoloRegistroMantenimiento]="verSoloRegistroMantenimiento">
                </app-lista-historial>
            </ng-container>   
        
            <ng-container *ngIf="mostrarRegistrarHistorial">
                <app-registar-historial 
                (historialGuardado)="actualizarCarro($event)"
                (onVolver)="cleanInitMethodSimple()" 
                [carroSeleccionadoDetalles]="carroSeleccionadoDetalles"
                ></app-registar-historial>
            </ng-container>

    </app-popup-generico>