<div id="registrarRutaContainer" class="col-md-6 offset-md-3">
    <div id="formRegistrarRutaContainer" class="formPosition ">


    <form (ngSubmit)="onSubmit()" id="formularioRegistrarHistorial">
    <div id="seleccionDeruta" >
        <label id="labelNuevaRuta" for="rutas">Registrar Historial</label>
        <div id="rutas" class="normal-size-input" >
            <div id="mat-form-destino" class="normal-size-input">


                <div id="mat-form-destino" class="normal-size-input">
                    <label for="rutaDestino" class="label-input">Tipo:</label>
                    <!-- [disabled]="verSoloRegistroMantenimiento || soloConsulta || isMantenimiento" -->
                    <select [disabled]="true" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                    name="tipoActividad" [(ngModel)]="historial.idTipo">
                        <option *ngIf="!verSoloRegistroMantenimiento" [value]="0" disabled class="first-option">Selecciona un tipo</option>
                        <option *ngFor="let key of claves" [value]="key">{{ datos[key] }}</option>
                    </select>
                </div>

                    
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Descripcíon/Asunto</label>
                <input [disabled]="soloConsulta" class="form-control" name="dsHistorial" id="exampleFormControlTextarea1" rows="3" placeholder="Describe la información" [(ngModel)]="historial.dsHistorial"/>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Comentarios/Observación</label>
                <textarea [disabled]="soloConsulta" class="form-control" name="comentario" id="exampleFormControlTextarea1" rows="3" placeholder="Describe la información" [(ngModel)]="historial.comentarios"></textarea>
            </div>

            <!-- <div  class="mb-3">
                <label for="formFileSm" class="form-label">Imagenes <span style="color: red;">(NO IMPLEMENTADO)</span></label>
                <input disabled="true" class="form-control form-control-sm" id="formFileSm" type="file" multiple (change)="onFileSelected($event)">
                <small class="form-text text-muted" *ngIf="selectedFiles.length >= 1"> {{selectedFiles.length}} archivo(s) seleccionado(s)</small>
                <div *ngFor="let selectedFile of selectedFiles; let i = index" class="form-check">
                    <input disabled="true" class="form-check-input" type="checkbox" [checked]="true">
                    <label class="form-check-label" [for]="'file-' + i">
                        {{selectedFile.name}}
                    </label>
                    <input disabled="true" class="form-check-input" type="checkbox" [checked]="true" [id]="'file-' + i">
                </div>
            </div> -->
        </div> 
    </div>
        <button class="btn btn-primary btonGuardar" (click)="volver()">Volver</button>
        <button [disabled]="soloConsulta" class="btn btn-success btonGuardar">Guardar</button>
    </form>
    </div>
</div>
