

<div class="filtrosContenedor" id="filtrosContenedor">

  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-excel" data-bs-toggle="dropdown" (click)="descargarExcel()">
      <span><img src="assets/excel-icon.png" id="img" alt="Intercambiar"  class="default-img-icon-size">Exportar excel</span>
    </button>
  </div>

  <div class="d-flex align-items-center justify-content-start filtros-container">

    <div class="add-new-driver-btn">
      <button 
        type="button" 
        data-bs-dismiss="modal" 
        data-bs-toggle="tooltip" 
        data-bs-placement="bottom"
        (click)="irRegistrarConductor()"
        data-bs-original-title="Registra un nuevo servicio"
        id="botonDetails"
        class="btn btn-primary btn-styles reduced-font-btn">
        <span class="button-icon">Registrar conductor
          <fa-icon class="eyeIcon" style="margin-left: 1em;"  [icon]="faPlus"></fa-icon>
        </span> 
      </button>
    </div>

    <div class="d-flex filter-input">
      <div id="filter-nombre">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" id="nombre" class="form-control  input-custom-style" aria-describedby="passwordHelpInline" [(ngModel)]="nombre" (blur)="onBlurNombre()" (input)="onInputChangeNombre()">
      </div>
        <div id="filter-apellido">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" id="apellido" class="form-control  input-custom-style" aria-describedby="passwordHelpInline" [(ngModel)]="apellido" (input)="onInputChangeNombre()"  >
        </div>
        <div class="d-flex">
              <div>
                <label for="cedula" class="form-label">Cedula</label>
                  <div class="d-flex">
                    <span  id="inicioCedulaLetra" style="margin-right: 5px;">V -</span>
                    <input 
                      type="text" 
                      id="cedula" 
                      class="form-control  input-custom-style" 
                      aria-describedby="passwordHelpInline" 
                      [(ngModel)]="dni" 
                      (input)="onInputChangeNombre()" 
                      appOnlyNumber>
                    </div>
              </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-sm" id="tablaListaConductores">
      <thead class="table-dark">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Cedula</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody class="table-dark">
        <tr *ngFor="let conductor of conductoresListafiltrado | paginate: { itemsPerPage: 5, currentPage: p }" [ngClass]="{'nuevo-conductor': conductor.id === newConductorId}">
          <td><small>{{conductor.nombre.toUpperCase()}}</small></td>
          <td>{{conductor.apellido.toUpperCase()}}</td>
          <td>{{conductor.dni.toUpperCase()}}</td>
          <td>
            <div id="botonera" class="d-flex align-items-center justify-content-start gap-2">
                <div *ngIf="modalModoSeleccionarConductor">
                  <button 
                    type="button"
                    title="Seleccionar" 
                    data-bs-dismiss="modal" 
                    id="botonSelect" 
                    (click)="seleccionar(conductor)" 
                    class="btn btn-success small-button botonesAccion btn-sm">
                    <fa-icon class="selectIcon" [icon]="selectIcon"></fa-icon>
                  </button>
                </div> 
                <div>
                <button 
                  type="button" 
                  title="Ver detalles del Carro" 
                  data-bs-dismiss="modal" 
                  id="botonDetails" 
                  (click)="verDetalles(conductor.id)" 
                  class="btn btn-primary botonesAccion btn-sm">
                  <fa-icon class="detailsIcon small-icon" [icon]="detailsIcon"></fa-icon>
                </button>
              </div>
              <div *ngIf="!modalModoSeleccionarConductor">
                <button 
                type="button"
                title="Editar"
                data-bs-dismiss="modal" 
                id="botonSelect" 
                (click)="editar(conductor)" 
                class="btn btn-warning botonesAccion">
                  <fa-icon class="selectIcon small-icon" [icon]="faEdit"></fa-icon>
                </button>
                <button 
                  type="button" 
                  title="Eliminar" 
                  data-bs-dismiss="modal" 
                  id="botonSelect" 
                  (click)="eliminar(conductor.id)" 
                  class="btn btn-danger botonesAccion">
                    <span>
                      <img src="assets/delete.png" id="img" alt="Intercambiar" class="default-img-icon-size">
                    </span>
                </button>
              </div>  
            </div> 
          </td>  
        </tr>
      </tbody>
    </table>
    <div class="pagination-container">
      <pagination-controls 
      (pageChange)="p = $event"
      previousLabel="Anterior" 
      nextLabel="Siguiente"></pagination-controls>
    </div>




























