#tablaListaConductores {
    margin-top: 5%;
  }
  
#nombre, #apellido, #cedula {
  width: 50%;
  height: 25px;
}
  
.small-icon {
  font-size: 10px; /* Ajusta este valor según lo necesites */
}

.custom-snackbar {
  background-color: red !important;
}
  
  
  
  