.confirma-viaje-span {
    color:white
}

.label-input {
    font-weight: bold; /* Resalta el texto */
    font-size: 14px; /* Tamaño adecuado */
    margin-bottom: 5px; /* Espacio entre label y campo */
    color: #55a2d1;
    margin-bottom: 5px; /* Espacio entre la etiqueta y el input */
}
