<table class="table table-striped table-sm" id="tablaListaConductores">
    <thead class="table-dark">
      <tr>
        <th>Tipo</th>
        <th>Comentario</th>
        <th>Fecha de alta</th>
        <th>Registrado por</th>
      </tr>
    </thead>
    <tbody class="table-dark">
      <tr *ngFor="let historial of historialDeActividades | paginate: { itemsPerPage: 25, currentPage: p }">
        <td>
          <small>
            <button [ngClass]="getClassByTipoHistorial(historial)" class="btn btn-primary btonGuardar" ><fa-icon  [icon]="getIconByTipoHistorial(historial)" class="lupaIcon"></fa-icon></button>{{historial.descripcionTipo}}
          </small>
        </td>
        <td>
          <small>
            {{historial.comentarios}}
          </small>
        </td>
          <td>
            <small>
              <span class="date">{{ historial.fechaAlta | date:'dd/MM/yyyy HH:mm:ss'}}</span>
            </small>
          </td>
          <td>
            {{historial.usuario}}
          </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination-container">
    <pagination-controls 
    (pageChange)="p = $event"
     previousLabel="Anterior" 
    nextLabel="Siguiente"></pagination-controls>
  </div>
  
  <div class="modal-footer d-flex justify-content-start" id="addHsitory">
  </div>
  