<div class="modal fade" id="rutaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-custom-size modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Selecciona una ruta</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (input)="clearFilters()"></button>
        </div>
        <div class="modal-body">
        <div class="filtrosContenedor" id="filtrosContenedor">
          <div class="row">
            <div class="col g-3 align-items-center" id="busquedaId">
                <div class="col-auto">
                  <label for="origen" class="col-form-label">Origen</label>
                </div>
                <div class="col-auto">
                  <input  type="text" id="origen" class="form-control defaultInputHeightModal" aria-describedby="passwordHelpInline" [(ngModel)]="origen" (blur)="onBlurNumeroUnidad()" (input)="onInputChangeOriginFilter()">
                </div>
            </div>
              <div class="col g-3 align-items-center" id="busquedaId">
                <div class="col-auto">
                  <label for="destino" class="col-form-label">Destino</label>
                </div>
                <div class="col-auto">
                  <input type="text" id="destino" class="form-control defaultInputHeightModal" aria-describedby="passwordHelpInline" [(ngModel)]="destino" (input)="onInputChangeOriginFilter()"  >
                </div>
              </div>
              <div class="col g-3 align-items-center">
                <div class="col-auto">
                  <label for="viajeNum" class="col-form-label">Numero viaje</label>
                </div>
                <div class="col-auto">
                  <input type="text"   appOnlyNumber id="viajeNum" class="form-control defaultInputHeightModal" [(ngModel)]="viajeNum" aria-describedby="passwordHelpInline"  (input)="onInputChangeOriginFilter()">
                </div>
              </div>
              </div>
            </div>
          </div>
          <table class="table table-striped" id="tablaListaRuta">
            <thead class="table-dark">
              <tr>
                <th>Origen</th>
                <th>Destino</th>
                <th>Numero Viaje</th>
              </tr>
            </thead>
            <tbody class="table-dark">
              <tr *ngFor="let ruta of rutasFiltradas | paginate: { itemsPerPage: 5, currentPage: p }">
                <td>{{ruta.origen}}</td>
                <td>{{ruta.destino}}</td>
                <td>{{ruta.numRutaIdentificativo}}</td>
                <td>
                  <button type="button" title="Ver detalles del Carro" data-bs-dismiss="modal" id="botonDetails" (click)="verDetalles(ruta.id)" class="btn btn-primary small-button">
                    <fa-icon class="detailsIcon" [icon]="detailsIcon"></fa-icon>
                  </button>
                  <button type="button" title="Seleccionar" data-bs-dismiss="modal" id="botonSelect" (click)="seleccionar(ruta)" class="btn btn-success small-button">
                    <fa-icon class="selectIcon" [icon]="selectIcon"></fa-icon>
                  </button>
                </td>  
              </tr>
            </tbody>
          </table>
          <div class="pagination-container">
            <pagination-controls 
            (pageChange)="p = $event"
             previousLabel="Anterior" 
            nextLabel="Siguiente"></pagination-controls>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (input) ="clearFilters()">Close</button>
        </div>
      </div>
    </div>
  
