#labelNuevaRuta {
    top: 127px;
    left: 243px;
    font-size: 50px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    margin-bottom: 10px; /* Espacio inferior */
    color: #007bff; /* Azul bonito */
}

