

<!-- Modal -->
<div class="modal fade" id="popup-zoom-img" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{carroSeleccionadoDetalles.marca + ' ' + carroSeleccionadoDetalles.modelo}}</h5>
        <button type="button" class="btn-close" aria-label="Close" data-bs-target="#popup-zoom-img" data-bs-toggle="modal" ></button>
      </div>
      <div class="modal-body">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <ng-container *ngFor="let imagen of imagenescodificadasFront; let i = index">
                <button type="button" data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i" [class.active]="i === 0" [attr.aria-current]="i === 0 ? 'true' : null" [attr.aria-label]="'Slide ' + (i+1)"></button>
              </ng-container>
            </div>
            <div class="carousel-inner">
              <ng-container *ngFor="let imagen of imagenescodificadasFront; let i = index">
                <div class="carousel-item" [class.active]="i === 0">
                  <img [src]="imagen" class="d-block w-100" alt="../../assets/no_image_avaible.jpg">
                </div>
              </ng-container>
            </div>
            <button class="carousel-control-prev"  type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-target="#popup-zoom-img" data-bs-toggle="modal">Close</button>
      </div>
    </div>
  </div>
</div>
