<div class="filtrosContenedor" id="filtrosContenedor">
    <div class="row">
      <div class="col g-3 align-items-center" id="busquedaId">
          <div class="col-auto">
            <label for="numeroUnidad" class="col-form-label">Numero Unidad</label>
          </div>
          <div class="col-auto">
            <input  type="text" id="numeroUnidad" class="form-control defaultInputHeightModal" aria-describedby="passwordHelpInline"
              [(ngModel)]="numeroUnidad" (blur)="onBlurNumeroUnidad()" (input)="onInputChangeNumeroUnidad()" appOnlyNumber>
          </div>
      </div>
        <div class="col g-3 align-items-center" id="busquedaId">
          <div class="col-auto">
            <label for="marca" class="col-form-label">Marca</label>
          </div>
          <div class="col-auto">
            <input type="text" id="marca" class="form-control defaultInputHeightModal" aria-describedby="passwordHelpInline" [(ngModel)]="marca" (input)="onInputChangeBrandFilter()"  >
          </div>
        </div>
        <div class="col g-3 align-items-center">
          <div class="col-auto">
            <label for="modelo" class="col-form-label">Modelo</label>
          </div>
          <div class="col-auto">
            <input type="text" id="modelo" class="form-control defaultInputHeightModal" aria-describedby="passwordHelpInline" [(ngModel)]="modelo" (input)="onInputChangeBrandFilter()">
          </div>
        </div>
        <div class="col g-3 align-items-center">
          <div class="col-auto">
            <label for="modelo" class="col-form-label">Año</label>
          </div>
          <div class="col-auto">
            <input type="text" id="anyo" class="form-control defaultInputHeightModal" aria-describedby="passwordHelpInline" maxlength="4" [(ngModel)]="anyo" appOnlyNumber (input)="onInputChangeBrandFilter()">
          </div>
        </div>
      </div>
    </div>
    <table class="table table-striped" id="tablaListaCarro">
      <thead class="table-dark">
        <tr>
          <th>Numero unidad</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Años</th>
          <th>Consumo Medio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody class="table-dark">
        <tr *ngFor="let carro of carrosFiltrado | paginate: { itemsPerPage: 5, currentPage: p,  id:'carro-sel-index' }">
          <td>{{carro.numeroUnidad}}</td>
          <td>{{carro.marca}}</td>
          <td>{{carro.modelo}}</td>
          <td>{{carro.anyo}}</td>
          <td>{{carro.consumo}}</td>
          <td>
            <button type="button" title="Seleccionar" data-bs-dismiss="modal" id="botonSelect" (click)="seleccionar(carro)" class="btn btn-success small-button">
              <fa-icon class="selectIcon" [icon]="selectIcon"></fa-icon>
            </button>
            <button type="button" title="Ver detalles del Carro" data-bs-dismiss="modal" id="botonDetails" (click)="verDetalles(carro.id)" class="btn btn-primary small-button">
              <fa-icon class="detailsIcon" [icon]="detailsIcon"></fa-icon>
            </button>
          </td>  
        </tr>
      </tbody>
    </table>
    <div class="pagination-container">
      <pagination-controls 
        id="carro-sel-index"
        (pageChange)="p = $event"
        previousLabel="Anterior" 
        nextLabel="Siguiente">
      </pagination-controls>
    </div>
