
.errorValInput .mdc-text-field--outlined .mdc-notched-outline__trailing,
.errorValInput .mdc-text-field--outlined .mdc-notched-outline__leading {
    
    animation: blink 0.5s 2 forwards; /* La propiedad "forwards" asegura que el último valor de la animación se mantenga después de la animación */
}


@keyframes blink {
    0%, 50% { border-color: red; }
    25%, 75% { border-color: white; }
    100% { border-color: red; }
}

.normal-size-input {
    width: 55%;
}

.mid-size-input {
    width: 60%;
}

.formPosition {
    right: 15%;
    position:relative;
    padding-bottom: 50%;

}

.btonGuardar{
    margin-top: 7%;
    left: 55%;
    position: relative;
    width: 80%;
}

.estilosTamanioInputs {
    text-align: left; 
    margin-left: 7%;
    margin-top: 2%;
    font-size: 13px  !important;

}

.mat-mdc-form-field-infix {
    margin: -13px;
}

#seleccionDeruta {
    margin-bottom: 10%;
}

.titulo-form {
    margin-bottom: 10px; 
    color: #0077cc; 
    font-size: 20px;
}

.label-input {
    color: #035189; 
}

.lupaIcon {
    color: #0077cc; /* Cambia 'blue' al color deseado */
    font-size: 10px;
}








  


