<div id="registrarViajeContainer" class="col-md-6 offset-md-3">
    
    <h3 class="text-center">Registrar Viaje</h3>
    <div id="formRegistrarViajeContainer" class="formPosition">
    <form (ngSubmit)="onSubmit()" id="formularioRegistrarViaje">
        
    <div id="seleccionDeruta">
        <label for="rutas" class="titulo-form">Selecciona Ruta:</label>
        <div id="rutas" class="normal-size-input" >
            <label for="rutaDesde" class="label-input">Origen:</label>
            <div id="rutaDesde" class="d-flex">
                <mat-form-field appearance="outline" class="custom-mat-field"  id="autoCompleteRutaDesde" [ngClass]="{'errorValInput': formSubmitted && rutaErrorOrigen}">
                    <input type="text" matInput
                    oninput="this.value = this.value.toUpperCase()"
                    id="inputSeleccionaRutaDesde"
                    placeholder="Ingresa Origen" 
                    [(ngModel)]="origen" 
                    [matAutocomplete]="autoRuta" 
                    name="seleccionaRutaDesde" 
                    (input)="filtrarAutocompletarRutaOrigen()"
                    (blur)="onInputBlurOrigen()"
                    (focus)="onFocusEventConductor()"
                    class="estilosTamanioInputs">
                    <mat-autocomplete #autoRuta="matAutocomplete" [displayWith]="displayRutaDesde" panelPlacement="bottom" (optionSelected)="onOptionSelectedOrigen($event)">
                        <mat-option *ngFor="let ruta of rutaListaOrigen" [value]="ruta">
                            {{ ruta.origen | uppercase }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <a class="btn btn-outline-secondary botonBuscar"  type="button" data-bs-toggle="modal" data-bs-target="#rutaModal"> 
                    <fa-icon class="lupaIcon" [icon]="searchIcon"></fa-icon>
                </a>
            </div>
        </div>

    
        <div id="mat-form-destino" class="normal-size-input">
            <label for="rutaDestino" class="label-input">Destino:</label>
            <div id="rutaDesde" class="d-flex">
            <mat-form-field appearance="outline" class="custom-mat-field"  id="autoCompleteRutaDestino" [ngClass]="{'errorValInput': formSubmitted && rutaErrorDestino}">
                <input type="text" matInput
                [disabled]="!origenSelected"
                id="inputSeleccionaRutaDestino"
                placeholder="Ingresa Destino" 
                [(ngModel)]="destino" 
                [matAutocomplete]="autoRutaDestino" 
                name="seleccionaRutaHasta" 
                (input)="filtrarAutocompletarRutaDestino()"
                (blur)="onInputBlur()"
                (focus)="onFocusEventConductor()"
                class="estilosTamanioInputs">
                <mat-autocomplete #autoRutaDestino="matAutocomplete" [displayWith]="displayRutaHasta" panelPlacement="bottom" (optionSelected)="onOptionSelectedDestino($event)">
                <mat-option *ngFor="let ruta of rutasListaDestino" [value]="ruta" >
                    {{ ruta.destino | uppercase }}
                </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <a class="btn btn-outline-secondary botonBuscar"  type="button" data-bs-toggle="modal" data-bs-target="#rutaModal"> 
                <fa-icon class="lupaIcon" [icon]="searchIcon"></fa-icon>
            </a>
            </div>   
        </div>  
    </div>



        <div id="seleccionaConductor" class="mid-size-input">
         <label for="seleccionaConductor" class="label-input">Selecciona Conductor:</label>
            <div class="d-flex">
            <mat-form-field appearance="outline" class="custom-mat-field"  id="autoCompleteConductor" [ngClass]="{'errorValInput': formSubmitted && conductorError}" >
                <input type="text" matInput
                 id="inputSeleccionaConductor"
                 placeholder="Ingresa nombre del conductor" 
                 [(ngModel)]="selectedConductor" 
                 [matAutocomplete]="autoConductor" 
                 name="seleccionaConductor" 
                 (input)="filtrarAutocompletarConductor(selectedConductor)"
                 (blur)="onInputBlur()"
                 (focus)="onFocusEventConductor()"
                 class="estilosTamanioInputs">
                <mat-autocomplete #autoConductor="matAutocomplete" [displayWith]="displayConductor" panelPlacement="bottom" (optionSelected)="onOptionSelectedConductor($event)">
                <mat-option *ngFor="let conductor of conductoresAutoCompleteFilters" [value]="conductor">
                    {{ conductor.nombre + ' ' + conductor.apellido | uppercase }}
                </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <a class="btn btn-outline-secondary botonBuscar"  type="button" data-bs-toggle="modal" data-bs-target="#conductorModal"> 
                <fa-icon class="lupaIcon" [icon]="searchIcon"></fa-icon>
            </a>
            </div>

        </div>


        <div class="mid-size-input">
            <label for="seleccionaVehiculo" class="label-input">Selecciona Vehiculo:</label>
            <div id="seleccionaVehiculo" class="d-flex">
            <mat-form-field appearance="outline" class="custom-mat-field"  id="autoCompleteCarro" [ngClass]="{'errorValInput': formSubmitted && vehiculoError }">
                <input type="text" matInput
                 id="inputSeleccionaVehiculo"
                 placeholder="Selecciona el vehiculo" 
                 [(ngModel)]="selectedVehiculo" 
                 [matAutocomplete]="autoVehiculo" 
                 name="seleccionavehiculo" 
                 (blur)="onInputBlur()"
                 (focus)="onFocusEventVehiculo()"
                 (input) ="filtrarAutocompletarCarro(selectedVehiculo)" 
                 class="estilosTamanioInputs">
                <mat-autocomplete #autoVehiculo="matAutocomplete" [displayWith]="displayVehiculo" panelPlacement="bottom" (optionSelected)="onOptionSelectedVehiculo($event)">
                <mat-option *ngFor="let carro of vehiculosAutoCompleteFilters" [value]="carro">
                    {{ carro.marca + ' ' + carro.modelo | uppercase }}
                </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <a title="Buscar vehiculo" class="btn btn-outline-secondary botonBuscar"  type="button" data-bs-toggle="modal" data-bs-target="#myModal"> 
                <fa-icon class="lupaIcon" [icon]="searchIcon"></fa-icon>
            </a>
            </div>
        </div>
          <button class="btn btn-success btonGuardar">Guardar</button>
          <app-popup-seleccionar-carro></app-popup-seleccionar-carro>
          <app-popup-seleccionar-conductor></app-popup-seleccionar-conductor>
     </form>
    </div>
</div>

 

  

 
    
 


    
  





    