.custom-snackbar {
    
    .mat-mdc-snack-bar-container .mdc-snackbar__surface {
      border-radius: 8px !important;
    }

     .mdc-snackbar__surface {
    background-color: red !important;
  }


    .mat-mdc-button.mat-mdc-snack-bar-action {
      color: white !important;
    }


  }
  .seleccionaCarro {
    width: 100%;
    margin-bottom: 5%;
    padding-bottom: 3%;
    border-radius: 5px

  }

  .seleccionaCarroError {
    width: 100%;
    margin-bottom: 5%;
    padding-bottom: 3%;
    border-color:red ;
    border-radius: 5px

  }

  .defaultOptionStylesSelect {
    color: red;
  }

  .botonBuscar {
    border-color: transparent;
    height: 50%;
    margin-left: 5%;
  }

  .botonBuscar:hover {
    background-color: rgb(63, 63, 200); /* Cambia a tu color deseado */
    color: white; /* Cambia a tu color deseado */

    .lupaIcon {
      color: white;
    }

 
}

#formularioRegistrarViaje {
  margin-top: 5%;
  position: relative;
  right: 40%;
}

.lupaIcon {
  color: blue;
}


.custom-mat-field {
  width: 85%;
}





