<div class="modal fade" id="card-bus-detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-custom-size modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{carroSeleccionadoDetalles.marca + ' ' + carroSeleccionadoDetalles.modelo}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>{{carroSeleccionadoDetalles.marca}}</mat-card-title>
                  <mat-card-subtitle>{{carroSeleccionadoDetalles.modelo + ' ' + carroSeleccionadoDetalles.anyo}}</mat-card-subtitle>
                </mat-card-header>

                
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div *ngFor="let imagen of getImagenUrl(carroSeleccionadoDetalles); let i = index" class="carousel-item" [class.active]="i === index">
                      <img class="d-block w-100" [src]="imagen" alt="Imagen">
                    </div>
                  </div>
                  <a class="carousel-control-prev"  (click)="prevImage()" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next"  (click)="nextImage()" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                
                <mat-card-content>
                  <ul class="list-group">
                    <li class="list-group-item" aria-disabled="true">Modelo: {{ carroSeleccionadoDetalles.modelo }}</li>
                    <li class="list-group-item">Marca: {{ carroSeleccionadoDetalles.marca }}</li>
                    <li class="list-group-item">Año: {{ carroSeleccionadoDetalles.anyo }}</li>
                    <li class="list-group-item">Unidad Número: {{ carroSeleccionadoDetalles.numeroUnidad }}</li>
                  </ul>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Historial</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    


  
