#botonesAcciones {
    margin-left: 7%;
}

.editIcon, .deleteIcon, .eyeIcon{
    padding-right: 10px;
    color: white;
    margin-left: 45%;
}

.button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listaVehiculoContainer {
    margin-top: -60px;
}

td button {
    margin: 5px; /* Ajusta el valor según el espaciado deseado */
  }


  .carousel-control-prev,
  .carousel-control-next {
      color: blue; /* Change to your desired color */
  }

  .modal-custom-size {
    /* max-width: 800px;        
    width: 80%;           
    max-height: 400px;     
    overflow-y: auto;  */
    font-size: smaller;
  }

  
  


