#botonesAcciones {
    margin-left: 7%;
}

.editIcon, .deleteIcon, .eyeIcon{
    padding-right: 10px;
    color: white;
    margin-left: 45%;
}

.button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listaVehiculoContainer {
    margin-top: -60px;
}

.botonesAccion {
    background-color: transparent !important;
    border: none;
    box-shadow: none;
  }

  .botonesAccion fa-icon {
    color: #55a2d1 !important;
  }
/*----- Estilo botonera */
  .botonesAccion:hover fa-icon {
    color: #3b81a8 !important; /* Un tono más oscuro para efecto hover */
  }

  .botonesAccion {
    transition: all 0.3s ease; /* Transición suave para el tamaño y fondo */
  }
  
  .botonesAccion:hover {
    transform: scale(1.25); /* Hace que el botón se agrande un poco */
    background-color: rgba(85, 162, 209, 0.2); /* Fondo translúcido y suave que combina */
    box-shadow: 0 4px 8px rgba(85, 162, 209, 0.4); /* Añadir sombra sutil */
  }
  
  .botonesAccion fa-icon {
    color: #55a2d1 !important; /* Color del ícono */
    transition: color 0.3s ease; /* Transición suave para el color */
  }
  
  .botonesAccion:hover fa-icon {
    color: white !important; /* El ícono se pone blanco solo cuando el botón tiene hover */
  }

  .botonesAccion:hover span#numUnidad{
    color: white !important; /* El ícono se pone blanco solo cuando el botón tiene hover */
  }

td button {
    margin: 5px; /* Ajusta el valor según el espaciado deseado */
  }

/*-----   FIN  Estilo botonera */


  .carousel-control-prev,
  .carousel-control-next {
      color: blue; /* Change to your desired color */
  }

  .modal-custom-size {
    /* max-width: 800px;        
    width: 80%;           
    max-height: 400px;     
    overflow-y: auto;  */
    font-size: smaller;
  }

  .font-color-num-unidad {
    color: wheat;
    font-weight: bold ;
    font-style: italic;
  }

  .titulo-btn-container {
    margin-bottom: 3em;
    margin-top: 2em;
  }

  .default-img-icon-size#img {
    width: 25px;
    height: 25px;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease, border 0.3s ease; /* Suaviza la transición */
  }

  .num-uni-container {
    margin-left: 15em;
  }

  .number-input-custom-font {
    width: 5em;
    max-height:3em;
  }

  .input-custom-style  {
    font-size: 13px !important;
  }

  .normalSizeInput {
    max-width: 12em;
  }

  .btn-styles {
    min-width: 11em;
    margin-top: -1em;
  }
  
  .separador {
    margin-left: 10em;
    margin-right: -9em;
  }

  .contenedor {
    margin-bottom: 4em;
  }

  /*Margin right*/
  .mr {
    margin-right: 1em;
  }

   /*Margin left*/
  .ml {
    margin-left: 2em;
  }

  .re-position {
    margin-top: -3em;
    margin-bottom: 2em;
  }

  .highlight-blue-text {
    color: #60a4fd;
    font-weight: bold;
    font-style: italic;
  }
  
  


