.dniTipoInput {
    width: 35%;
    height: 2.5em;
}

.inputDniConductor {
    margin-left: -48%;
    height: 2.15em;
    width: 52%;
}

@keyframes parpadeo {
    0% {
      border-color: red;
    }
    50% {
      border-color: white;
    }
    100% {
      border-color: red;
    }
  }
  
  .input-error-blink {
    animation: parpadeo 0.3s infinite;
  }

  .input-error {
    border: 2px solid red;
    box-shadow: 0 0 5px red;
  }

  .normal-size-input {
    display: block;
    width: 100%;
}

label.label-input {
    display: block;
    margin-bottom: 8px;  /* Ajusta el espacio entre la etiqueta y el campo */
}

mat-form-field {
    display: block;
    width: 40%; /* Esto asegura que el datepicker ocupe todo el ancho disponible */
}

.form-custom-position {
    position: absolute;
    right: -28%;
    top: 30%;
    width: 64%;
}

.ver-viajes-boton {
    margin-left: 4%;
    margin-bottom: 5%;
}