.bold-font {
    font-weight: bold; /* Resalta el texto */
    font-size: 14px; /* Tamaño adecuado */
}

.blue-color-font {
    color: #55a2d1;
}

.warning-color-font {
    color:rgb(254, 182, 15);
}

.danger-color-font {
    color:rgb(254, 103, 15);
}

.btn-reset {
    margin-bottom: 1em;
}

.contenedor-tabla-auditoria {
  max-width: 70%; /* Ajusta el ancho total de la tabla */
  margin: auto; /* Centra la tabla */
}


