
  <div class="d-flex justify-content-between align-items-center">
    <h5 style="font-size: bold; font-style: italic; font-size: 20px;">
      {{getNumUnidadFormateado(carroSeleccionadoDetalles.numeroUnidad)}} 
        - {{carroSeleccionadoDetalles.marca + 
            ' ' + carroSeleccionadoDetalles.modelo}}
    </h5>
    <div class="d-flex align-items-center">
      <button 
      class="btn btn-reset" 
      (click)="resetFilterByDate()"
      title="Reestablecer fechas del filtro">
      <span><img src="assets/restore-icon.png" id="img" alt="Intercambiar" class="default-img-icon-size"></span>
      </button>
      <div class="d-flex gap-3">
        <div class="fechas-container">  
          <mat-form-field id="mat-picker-date-component" class="full-width date-picker">                   
              <input
                  matInput 
                  [matDatepicker]="dataPickerDesde" 
                  name="fecha-desde" 
                  id="fecha-desde"
                  placeholder="Desde"
                  [disabled]="false"
                  [(ngModel)]="fechaDesde"
                  [matDatepickerFilter]="filterDatesDesde"
                  (dateChange)="selectedDateFormat(fechaDesde, 'desde')"
                  readonly> 
                  <mat-datepicker-toggle 
                      class="toggle-picker-enabled" 
                      matIconSuffix [for]="dataPickerDesde">
                  </mat-datepicker-toggle>
                  <mat-datepicker id="dataPickerDesde" #dataPickerDesde></mat-datepicker>
          </mat-form-field>
          <mat-form-field  id="mat-picker-date-component"
          class="full-width date-picker"
          [ngClass]="!fechaDesde ? 'picker-custom-disabled' : ''">                   
              <input
                  matInput 
                  [matDatepicker]="dataPickerHasta" 
                  name="fecha-hasta" 
                  id="fecha-hasta"
                  placeholder="Hasta"
                  [disabled]="!fechaDesde"
                  [(ngModel)]="fechaHasta"
                  [matDatepickerFilter]="filterDatesHasta"
                  (dateChange)="selectedDateFormat(fechaHasta, 'hasta')"
                  readonly> 
              <mat-datepicker-toggle 
                  [ngClass]="!fechaDesde ? 'toggle-picker-disabled' : 'toggle-picker-enabled'"  matIconSuffix [for]="dataPickerHasta">
              </mat-datepicker-toggle>
              <mat-datepicker id="dataPickerHasta" #dataPickerHasta></mat-datepicker>
          </mat-form-field>
            <button 
            type="button" 
            (click)="obtenerHistorialBetweenDays()" 
            class="btn btn-primary btn-filter btn-sm"
            data-bs-toggle="tooltip" 
            data-bs-placement="top"
            [attr.data-bs-original-title]="getToolTipMsj()">
                <span><img src="assets/filter-icon.png" id="img-icon" alt="Intercambiar"  class="default-img-icon-size"></span>
                <span *ngIf="isAppliedFilters"><img src="assets/okey-icon.png" id="img" alt="Intercambiar"  class="default-img-icon-size"></span>
                <span *ngIf="!isAppliedFilters"><img src="assets/close-icon.png" id="close-icon-img" alt="Intercambiar"  class="default-img-icon-size"></span>
            </button>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-striped table-sm" id="tablaListaConductores">
    <thead class="table-dark">
      <tr>
        <th>Tipo</th>
        <th>Descripción/asunto</th>
        <th>Fecha de alta</th>
        <th>Registrado por</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody class="table-dark">
      <tr
      *ngFor="let historial of carroSeleccionadoDetalles.registroHistorial | paginate: {totalItems:totalItems, itemsPerPage: itemsPerPage, currentPage: h, id: 'historial'}" 
      [ngClass]="{'resaltado': newHistorialID !== 0 && historial.id === newHistorialID }">
        <td>
          <small>
            <button 
              [ngClass]="getClassByTipoHistorial(historial)" 
              class="btn btn-primary btonGuardar btn-sm">
              <fa-icon  
              [icon]="getIconByTipoHistorial(historial)" class="lupaIcon">
              </fa-icon>
          </button>{{historial.descripcionTipo}}
          </small>
        </td>
        <td>
          <small>
            {{historial.dsHistorial}}
          </small>
        </td>
          <td>
            <small>
              <span class="date">{{ historial.fechaAlta | date:'dd/MM/yyyy HH:mm:ss' }}</span>
            </small>
          </td>
          <td>
            {{ historial.byUser || 'Usuario no disponible' }}
          </td>
          <td class="d-flex gap-3">
            <button 
              *ngIf="historial.idTipo !== 1" 
              title="Ver historial de actividades" 
              (click)="verDetalleshistorial(historial.id, true)" 
              class="btn btn-primary botonesAccion btn-sm" 
              data-bs-dismiss="modal">
              <span class="button-icon "><fa-icon class="deleteIcon" [icon]="detailsIcon"></fa-icon></span>
            </button>
            <button
              *ngIf="historial.idTipo === 1" 
              title="Detalles del viaje" 
              class="btn btn-primary botonesAccion btn-sm" 
              (click)="verDetallesServicio(historial.viajeId)" 
              >
              <span class="button-icon "><fa-icon class="deleteIcon" [icon]="detailsIcon"></fa-icon></span>
          </button>
            <button 
              *ngIf="historial.idTipo !== 1"
              title="Editar historial de actividades" 
              (click)="verDetalleshistorial(historial.id, false)" 
              class="btn btn-warning botonesAccion btn-sm" 
              data-bs-dismiss="modal">
              <span class="button-icon"><fa-icon class="deleteIcon" [icon]="editIcon"></fa-icon></span>
            </button>
            <div>
              <button 
                *ngIf="historial.idTipo !== 1"
                type="button" 
                class="delete-img-btn btn-sm botonesAccion" 
                (click)="deleteHistorial(historial.id)">
                  <span><img src="assets/delete.png" id="img" alt="Intercambiar"  class="default-img-icon-size"></span>
              </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination-container">
    <pagination-controls
    id="historial"  
    (pageChange)="onPageChange($event)"
    previousLabel="Anterior" 
    nextLabel="Siguiente"></pagination-controls>
  </div>
  <div class="modal-footer d-flex justify-content-start" id="addHsitory">
    <button id="btonAddHistory" type="button" (click)="addHistory()" class="btn btn-primary addHistory" title="Añadir un historico" data-bs-dismiss="modal">+</button>
    <label for="btonAddHistory"> {{verSoloRegistroMantenimiento ? 'Registro mantenimiento/reparación' : 'Registro actividad/comentarios'}} </label>
  </div>
  
  <app-popup-mensaje-confirmar-viaje 
    [viajeSelDetails]="viajeSelDetails"
    [isModalConfirmacion]="false">
  </app-popup-mensaje-confirmar-viaje>

