



<nav class="navbar navbar-expand bg-dark navbar-dark">
<ul class="navbar-nav">
  <li class="nav-item">
    <a routerLink="carros" routerLinkActive="active" class="nav-link">Lista de Carros</a>
  </li>
  <li class="nav-item">
    <a routerLink="registrar-carro" routerLinkActive="active" class="nav-link" target="_self">Añadir Carro</a>
  </li>
  <li class="nav-item">
    <a routerLink="viajes" routerLinkActive="active" class="nav-link" target="_self">Lista Viaje</a>
  </li>
  <li class="nav-item">
    <a routerLink="registrar-viaje" routerLinkActive="active" class="nav-link" target="_self">Registrar Viaje</a>
  </li>
  <li class="nav-item">
    <a routerLink="rutas" routerLinkActive="active" class="nav-link" target="_self">Rutas</a>
  </li>
</ul>
</nav>


<div id="contenedorImagen">
  <img id="imagenCabecera" src="./../assets/bus_company-removebg-preview.png" style="width: 10%; background-color: white !important; border-radius: 50%;" alt="Mi Imagen" />
</div>

  
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>

