.title {
    margin-top: 5%;
}

.nav-icon {
    width: 20px; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Mantiene la proporción */
    margin-right: 5px; /* Espacio entre la imagen y el texto */
  }