.title {
    margin-top: 5%;
}

.nav-icon {
    width: 20px; 
    height: auto; 
    margin-right: 5px; 
}

.not-logged-in {
    margin-top: 5em;
}

/* ::ng-deep pagination-controls .ngx-pagination .current,
::ng-deep pagination-controls .ngx-pagination a {
  color: white !important;
} */


