<table class="table table-striped table-sm" id="tablaListaConductores">
  <thead class="table-dark">
    <tr>
      <th>Tipo</th>
      <th>Descripción/asunto</th>
      <th>Fecha de alta</th>
      <th>Registrado por</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody class="table-dark">
    <tr *ngFor="let historial of carroSeleccionadoDetalles.registroHistorial| paginate: { itemsPerPage: 5, currentPage: p }">
      <td>
        <small>
          <button [ngClass]="getClassByTipoHistorial(historial)" class="btn btn-primary btonGuardar" ><fa-icon  [icon]="getIconByTipoHistorial(historial)" class="lupaIcon"></fa-icon></button>{{historial.descripcionTipo}}
        </small>
      </td>
      <td>
        <small>
          {{historial.dsHistorial}}
        </small>
      </td>
        <td>
          <small>
            <span class="date">{{ historial.fechaAlta | date:'dd/MM/yyyy HH:mm:ss' }}</span>
          </small>
        </td>
        <td>
          {{historial.userLogin.usu}}
        </td>
        <td>
        <button title="Ver historial de actividades" (click)="verDetalleshistorial(historial.id, true)" class="btn btn-primary botonesAccion" data-bs-toggle="modal" data-bs-target="#verHistorialPopUp">
          <span class="button-icon"><fa-icon class="deleteIcon" [icon]="detailsIcon"></fa-icon></span>
        </button>
        <button title="Editar historial de actividades" (click)="verDetalleshistorial(historial.id, false)" class="btn btn-warning botonesAccion" data-bs-toggle="modal" data-bs-target="#verHistorialPopUp">
          <span class="button-icon"><fa-icon class="deleteIcon" [icon]="editIcon"></fa-icon></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="pagination-container">
  <pagination-controls  
  (pageChange)="p = $event" 
   previousLabel="Anterior" 
  nextLabel="Siguiente"></pagination-controls>
</div>

<div class="modal-footer d-flex justify-content-start" id="addHsitory">
  <label for="btonAddHistory">Añade un historico </label>
  <button id="btonAddHistory" type="button" (click)="addHistory()" class="btn btn-primary addHistory" title="Añadir un historico" data-bs-dismiss="modal">+</button>
</div>
