<div id="registrarViajeContainer" class="formulario-viaje">
    <!-- <button id="irCrearRuta" routerLink="/registrar-ruta" class="btn btn-primary btonGuardar">{{NUEVA_RUTA}}</button> -->
    <form id="formularioRegistrarViaje" (keydown)="onKeyDown($event)">
        <label class="label-input">{{EMPRESA_NOMBRE_SERVICIO}}</label>
        <div>
            <input 
            autocomplete="off"
            type="text" 
            class="form-control empresa-servicio-input input-custom-style" 
            id="nombre-empresa-servicio" 
            [(ngModel)]="nombreEmpresaServicio" 
            name="nombre-empresa-servicio" 
            disabled="false"
            [placeholder]="COMPANY_NAME_PLACEHOLDER"
            (ngModelChange)="quitarErrorEstilos('nombre-empresa-servicio')">
        </div>  
        <div class="row contenedorSeleccionRuta g-5">  
            <div id="div-desde" class="col-auto contenedor-rutas">
                <label for="rutaDesde" class="label-input">{{DESDE_LABEL}}</label>
                    <textarea
                        class="form-control caja-rutas textarea-custom-style"
                        id="direccion-desde"
                        placeholder="Ingresa una dirección de salida"
                        [(ngModel)]="direccionSalida"
                        name="direccion-desde"
                        rows="2"
                        (keydown)="onTypeDown()" 
                        (ngModelChange)="quitarErrorEstilos('direccion-desde')">
                    </textarea>
            </div>
            <!-- Botón intercambiador -->
            <div class="col-auto btn-intercambiador" style="display: flex; justify-content: center; align-items: center;">
                <button 
                    type="button"
                    class="btn btn-light boton-intercambiar" 
                    (click)="intercambiarDirecciones()" 
                    style="border: none; background: transparent; padding: 0; cursor: pointer;"
                    [disabled]="!direccionSalida || !direccionDestino">
                    <img src="../../assets/exchange.png" alt="Intercambiar" style="width: 32px; height: 32px;">
                </button>
            </div>
            <div id="div-hacia" class="col-auto contenedor-rutas">
                <div id="rutaDestino">
                    <label for="rutaDestino" class="label-input">{{HACIA_LABEL}}</label>
                    <textarea
                    autocomplete="off"
                    [ngClass]="direccionSalida ? 'textarea-custom-style' : 'textarea-custom-style-disabled'"
                    class="form-control caja-rutas"
                    id="direccion-destino"
                    type="text"
                    placeholder="Ingresa una dirección de destino"
                    [(ngModel)]="direccionDestino"
                    name="direccion-destino"
                    rows="2"
                    (keydown)="onTypeDown()"
                    [disabled]="!direccionSalida"
                    (ngModelChange)="quitarErrorEstilos('direccion-destino')">
                </textarea>
                    <!-- <a class="btn btn-outline-secondary botonBuscar"  type="button" data-bs-toggle="modal" data-bs-target="#selectRoutePopUp"> 
                        <fa-icon class="lupaIcon" [icon]="searchIcon"></fa-icon>
                    </a> -->
                </div>   
            </div>  
        </div>
        <!--Spinner de carga-->
        <div *ngIf="loading" class="overlay">
            <div class="spinner"></div>
        </div>
        <div class="form-group">
            <div class="row row-distancia-duracion border-custom-color"
            [ngClass]="getBorderStyles()">
                <div class="col-auto">
                    <label class="label-input">{{DISTANCIA_KMS}}</label>
                    <input 
                    autocomplete="off"
                    type="text" 
                    class="form-control input-custom-style" 
                    id="km-input" 
                    [(ngModel)]="distancia" 
                    name="distanciaKM" 
                    [placeholder]="PLACEHOLDER_DISTANCE_KMS"
                    [disabled]="!direccionSalida || !direccionDestino"
                    (keydown)="onTypeDown()"
                    (keydown)="distanciaInput($event)"
                    (blur)="agregarKm()">
                </div>
                <div class="col-auto">
                    <div>
                        <label class="label-input text-wrap" style="display: block; width: 100%;">{{DURACION_VIAJE_LABEL}}</label>
                        <input
                        autocomplete="off"
                        type="text" 
                        class="form-control tamanio-duracion input-custom-style" 
                        id="horasEsperaInput" 
                        name="horasEspera"
                        [(ngModel)]="duracion"
                        [placeholder]="DURACION_VIAJE_PLACEHOLDER"
                        [disabled]="!direccionSalida || !direccionDestino"
                        step="1800"
                        maxlength="5"
                        (input)="onInput($event)"
                        (keydown)="onTypeDown()" >
                    </div> 
                </div>
                <div class="col-auto ms-2 mensaje--no-data" 
                *ngIf="!loading && proposalPlaceSelectedEvent;">
                    <span [ngClass]="{'mensaje__no-data': datosNoEncontrados, 'mensaje__data-encontrada': !datosNoEncontrados}">
                        {{ datosNoEncontrados 
                            ? MENSAJE_NO_DATA_FOUND
                            : MENSAJE_DATA_FOUND
                        }}
                    </span>
                </div>
            </div>   
        </div>
        <div class="row mt-4">
            <div id="seleccionaConductor" class="col-lg-5  border-custom-color">
                <label for="seleccionaConductor" class="label-input d-block">{{SELECCIONA_CONDUCTOR_LABEL}}</label>
                <div>
                    <mat-form-field appearance="outline" class="custom-mat-field"  id="autoCompleteConductor" [ngClass]="{'errorValInput': formSubmitted && conductorError, 
                    'blueBorder': !(formSubmitted && conductorError)}" >
                        <input 
                        autocomplete="off"
                        type="text" 
                        matInput
                        id="inputSeleccionaConductor"
                        placeholder="Ingresa nombre del conductor" 
                        [(ngModel)]="selectedConductor" 
                        [matAutocomplete]="autoConductor" 
                        name="seleccionaConductor" 
                        (input)="filtrarAutocompletarConductor(selectedConductor)"
                        (blur)="onInputBlur()"
                        (focus)="onFocusEventConductor()"
                        class="estilosTamanioInputs">
                        <mat-autocomplete #autoConductor="matAutocomplete" [displayWith]="displayConductor" panelPlacement="bottom" (optionSelected)="onOptionSelectedConductor($event)">
                        <mat-option *ngFor="let conductor of conductoresAutoCompleteFilters" [value]="conductor">
                            <span class="font-size-mid bold-font">
                                {{ conductor.nombre + ' ' + conductor.apellido | uppercase }}
                            </span>
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <a class="btn btn-outline-secondary botonBuscar"  type="button" data-bs-toggle="modal" data-bs-target="#modalConductor"> 
                        <fa-icon class="lupaIcon" [icon]="searchIcon"></fa-icon>
                    </a>
                </div>
            </div>
            <div id="seleccionaVehiculo" class="col-lg-5 seleccionaVehiculoPosition border-custom-color">
                <label for="seleccionaVehiculo" class="label-input d-block">{{SELECCIONA_VEHICULO}}</label>
                <mat-form-field appearance="outline" class="custom-mat-field-vehiculo"  id="autoCompleteCarro" 
                [ngClass]="{'errorValInput': formSubmitted && vehiculoError,'blueBorder': !(formSubmitted && vehiculoError)}">
                    <input
                    autocomplete="off"
                    type="text" 
                    matInput
                    id="inputSeleccionaVehiculo"
                    placeholder="Selecciona el vehiculo" 
                    [(ngModel)]="selectedVehiculo" 
                    [matAutocomplete]="autoVehiculo" 
                    name="seleccionavehiculo" 
                    displayVehiculo
                    (blur)="onInputBlur()"
                    (focus)="onFocusEventVehiculo()"
                    (input) ="filtrarAutocompletarCarro(selectedVehiculo)" 
                    class="estilosTamanioInputs">
                    <mat-autocomplete #autoVehiculo="matAutocomplete" [displayWith]="displayVehiculo" panelPlacement="bottom" (optionSelected)="onOptionSelectedVehiculo($event)">
                    <mat-option *ngFor="let carro of vehiculosAutoCompleteFilters" [value]="carro">
                        <strong><span class="custom-color-prefijo-unidad">{{getNumeroUnidadFormateado(carro.numeroUnidad)}} </span></strong>
                        <span class="font-size-sm bold-font">
                            {{ ' ' + carro.marca + ' ' }}
                            {{  carro.modelo  | uppercase }}
                        </span>
                        <span class="italic-font year-style font-size-sm bold-font">{{  carro.anyo }}</span>
                    </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <a title="Buscar vehiculo" class="btn btn-outline-secondary botonBuscar" type="button" data-bs-toggle="modal" data-bs-target="#seleccionaVehiculoModal"> 
                    <fa-icon class="lupaIcon" [icon]="searchIcon"></fa-icon>
                </a>
            </div>
        </div>
        <button 
            [className]="viaje.id ? 'btn btn-warning btonGuardar' : 'btn btn-success btonGuardar'" 
            type="button" 
            (click)="validar()">{{ viaje.id ? EDITAR : GUARDAR}}
        </button>
        <app-popup-mensaje-confirmar-viaje (confirmarAccion)="manejarConfirmacion($event)"></app-popup-mensaje-confirmar-viaje>
        <app-popup-seleccionar-carro></app-popup-seleccionar-carro>
        <app-popup-seleccionar-conductor [modalModoSeleccionarConductor]="modalModoSeleccionarConductor"></app-popup-seleccionar-conductor>
        <!-- <app-popup-seleccionar-ruta></app-popup-seleccionar-ruta> -->
        </form>
    </div>
