
.errorValInput .mdc-text-field--outlined .mdc-notched-outline__trailing,
.errorValInput .mdc-text-field--outlined .mdc-notched-outline__leading {
    animation: blink 0.5s 2 forwards; /* La propiedad "forwards" asegura que el último valor de la animación se mantenga después de la animación */
    border-width: 2px !important;
}

@keyframes blink {
    0%, 50% { border-color: red; }
    25%, 75% { border-color: white; }
    100% { border-color: red; }
}

.blueBorder .mdc-text-field--outlined .mdc-notched-outline__trailing,
.blueBorder .mdc-text-field--outlined .mdc-notched-outline__leading {
    border-color: #0077cc !important;
    border-width: 2px !important; /* Ajusta el grosor del borde aquí */
}

.mdc-text-field--outlined .mdc-notched-outline  {
    background-color: rgb(44, 43, 43);  /* Fondo gris oscuro */
    z-index: 0 !important;
}

#autoCompleteConductor .mat-mdc-text-field-wrapper {
    width: 75% !important; /* Cambia el tamaño solo del input del conductor */
    margin-right: -19% !important; /* Ajusta el margen derecho del input del conductor */
}

#autoCompleteConductor {
    margin-right: -19% !important;
}

.normal-size-input {
    width: 55%;
}

.formPosition {
    right: 15%;
    position:relative;
    padding-bottom: 50%;

}

.estilosTamanioInputs {
    text-align: left; 
    margin-left: 7%;
    margin-top: 2%;
    font-size: 13px  !important;

}

.mat-mdc-form-field-infix {
    margin: -13px;
}

#seleccionDeruta {
    margin-bottom: 10%;
}

.titulo-form {
    margin-bottom: 10px; 
    color: #0077cc; 
    font-size: 20px;
}

.lupaIcon {
    color: #0077cc; /* Cambia 'blue' al color deseado */
    font-size: 10px;
}