.custom-snackbar {

    .mat-mdc-snack-bar-container .mdc-snackbar__surface {
      border-radius: 8px !important;
    }

    .mdc-snackbar__surface {
    background-color: red !important;
  }


    .mat-mdc-button.mat-mdc-snack-bar-action {
      color: white !important;
    }


  }
  .seleccionaCarro {
    width: 100%;
    margin-bottom: 5%;
    padding-bottom: 3%;
    border-radius: 5px

  }

  .seleccionaCarroError {
    width: 100%;
    margin-bottom: 5%;
    padding-bottom: 3%;
    border-color:red ;
    border-radius: 5px

  }

  .defaultOptionStylesSelect {
    color: red;
  }

  .botonBuscar {
    border-color: transparent;
    height: 50%;
    margin-left: 5%;
  }

  .botonBuscar:hover {
    background-color: #0077cc; /* Cambia a tu color deseado */
    color: white; /* Cambia a tu color deseado */

    .lupaIcon {
      color: white;
    }
}

.contenedorDistanciaYDuracion{
  margin-bottom: 8%;
  align-items: center; /* Alinea verticalmente los elementos en cada fila */
}

.contenedorDistanciaYDuracion .col label {
  display: block;
  margin-bottom: 0.5rem; /* Espacio consistente debajo de los labels */
  white-space: nowrap;  /* Evita que el texto del label se divida en varias líneas */
  overflow: hidden;     /* Oculta el desbordamiento si el texto es demasiado largo */
  text-overflow: ellipsis; /* Agrega puntos suspensivos si el texto es muy largo */
}

.tamanio-duracion{
  text-align: center;
  width: 40%;

}


#formularioRegistrarViaje {
  margin-top: 5%;
  position: relative;
  right: 40%;
}

.lupaIcon {
  color: blue;
}

.label-input {
  display: block; /* Hace que la etiqueta ocupe toda la línea */
  margin-bottom: 5px; /* Espacio entre la etiqueta y el input */
}

.contenedorSeleccionRuta {
  margin-bottom: 11%;
}

.custom-mat-field {
  width: 85%;
}

@keyframes parpadeo {
  0% {
    border-color: red;
  }
  50% {
    border-color: white; /* Usamos transparente para "hacer desaparecer" el borde */
  }
  100% {
    border-color: red;
  }
}

.input-error-blink {
  animation: parpadeo 0.5s 2 forwards;
  border-color: red;
}








