.custom-snackbar {

    .mat-mdc-snack-bar-container .mdc-snackbar__surface {
      border-radius: 8px !important;
    }

    .mdc-snackbar__surface {
    background-color: red !important;
    }

    .mat-mdc-button.mat-mdc-snack-bar-action {
      color: white !important;
    }
  }

  .seleccionaCarro {
    width: 100%;
    margin-bottom: 5%;
    padding-bottom: 3%;
    border-radius: 5px

  }

  .seleccionaCarroError {
    width: 100%;
    margin-bottom: 5%;
    padding-bottom: 3%;
    border-color:red ;
    border-radius: 5px

  }

  .defaultOptionStylesSelect {
    color: red;
  }

  .botonBuscar {
    border-color: transparent;
    height: 50%;
    margin-left: 5%;
  }

  .botonBuscar:hover {
    background-color: #0077cc; /* Cambia a tu color deseado */
    color: white; /* Cambia a tu color deseado */

    .lupaIcon {
      color: white;
    }
}

.contenedorDistanciaYDuracion{
  margin-bottom: 8%;
  align-items: center; /* Alinea verticalmente los elementos en cada fila */
}

.contenedorDistanciaYDuracion .col label {
  display: block;
  margin-bottom: 0.5rem; /* Espacio consistente debajo de los labels */
  white-space: nowrap;  /* Evita que el texto del label se divida en varias líneas */
  overflow: hidden;     /* Oculta el desbordamiento si el texto es demasiado largo */
  text-overflow: ellipsis; /* Agrega puntos suspensivos si el texto es muy largo */
}

.tamanio-duracion{
  text-align: center;
  width: 76%;
}

.lupaIcon {
  color: blue;
}

.contenedorSeleccionRuta {
  margin-bottom: 3%;
}


.empresa-servicio-input {
  margin-bottom: 2%;
  max-width: 300px; /* O elige un tamaño específico */
  display: inline-block; /* Para evitar que el input sea tratado como bloque completo */
}

.caja-rutas {
  resize: none;
  width: 100%;
  box-sizing: border-box;
}

.contenedor-rutas{
  min-width: 25%;
}

.custom-mat-field {
  width: 100%;
}

.custom-mat-field-vehiculo {
  width: 85%;
}


@keyframes parpadeo {
  0% {
    border-color: red;
  }
  50% {
    border-color: white; /* Usamos transparente para "hacer desaparecer" el borde */
  }
  100% {
    border-color: red;
  }
}

.input-error-blink {
  animation: parpadeo 0.5s 2 forwards;
  border-color: red;
  border-width: 2px !important;
}

.formulario-viaje {
  margin-top: 3%;
}

.btn-intercambiador {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mensaje--no-data {
  margin-top: 1.8%;
}

.mensaje__no-data{
  color: sandybrown;
}

.mensaje__data-encontrada{
  color: green;
}

.row-distancia-duracion {
  max-width: fit-content;
}

.border-custom-color {
  padding: 1rem; /* p-3 equivalente: Padding en todos los lados */
  border: 2px solid #d1d1d13d; /* border equivalente: Borde 1px sólido con un color claro */
  border-radius: 0.25rem; /* rounded equivalente: Bordes redondeados */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); /* shadow-sm equivalente: Sombra pequeña */
}

.input-custom-style, .input-custom-style:focus,.input-custom-style:disabled {
  background-color: rgb(44, 43, 43); /* Fondo gris oscuro */
  border-color: #007bff; /* Borde azul */
  color: #fff; /* Texto blanco */
}


.input-custom-style:disabled {
  cursor: not-allowed; /* Cambia el cursor a "no permitido" */
  opacity: 1; /* Asegura que no se vea desvanecido */
  caret-color: transparent;
  border-color:rgba(255, 255, 255, 0.4);
}

.textarea-custom-style, .textarea-custom-style:focus {
  background-color: rgb(44, 43, 43);  /* Fondo gris oscuro */
  color: #fff;  /* Texto blanco */
  border-color: #007bff;  /* Borde azul */
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  border-color: #007bff;  /* Borde azul */
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px rgb(44, 43, 43) inset;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: white;
}

.textarea-custom-style-disabled:disabled {
  background-color: rgb(44, 43, 43);  /* Fondo gris oscuro */
  color: #fff;  /* Texto blanco */
  border-color:rgba(255, 255, 255, 0.4);
  cursor: not-allowed; /* Cambia el cursor a "no permitido" */
  opacity: 1; /* Asegura que no se vea desvanecido */
  caret-color: transparent;
}

.btonGuardar {
  margin-top: 2%;
  width: 20%;
  margin-left: 26%;
}

.seleccionaVehiculoPosition {
  margin-left: 5%;
}

.custom-border-style {
  border: 1px solid #ccc; /* Cambia el color del borde según tu diseño */
  border-radius: 8px; /* Bordes redondeados (opcional) */
  padding: 20px; /* Añade espacio interno para una mejor visualización */
  display: inline-block; /* Evita que el contenedor ocupe más del contenido */
  width: 100%; /* Ajusta al ancho total del contenido del `row` */
}

#inputSeleccionaVehiculo::placeholder, #inputSeleccionaConductor::placeholder  {
  color: rgba(255, 255, 255, 0.4); /* Placeholder gris opaco */
}

#inputSeleccionaVehiculo, #inputSeleccionaConductor  {
  color: #fff; /* Texto blanco */
}

.font-size-sm {
  font-size: 12px;
}

.font-size-mid {
  font-size: 14px;
}

.bold-font {
  font-weight: bold;
}

.italic-font {
  font-style: italic;
}

.year-style {
  color:rgb(44, 133, 32);
  font-size: 15px;
}









