          <app-popup-generico 
              [modalLabel]="modalLabel" 
              [tituloPopUp]="tituloPopUp"
              [idModal] ="idModal"
              (closeModal)="onCloseModal()">
              <app-lista-rutas
                  [origen]="origen"
                  [destino]="destino"
                  [viajeNum]="viajeNum"
                  [rutasFiltradas]="rutasFiltradas"
                  [p]="p"
                  (blurNumeroUnidad)="onBlurNumeroUnidad()"
                  (inputChangeOriginFilter)="onInputChangeOriginFilter()"
                  (seleccionarRuta)="seleccionar($event)" >
              </app-lista-rutas>
          </app-popup-generico>
  
