<app-popup-generico
    [modalLabel]="modalLabel" 
    [tituloPopUp]="tituloPopUp"
    [idModal]="idModal">

            <ng-container *ngIf="mostrarListaHistorial">
                <app-lista-historial 
                    [carroSeleccionadoDetalles]="carroSeleccionadoDetalles" (agregarHistorial)="addHistory()">
                </app-lista-historial>
            </ng-container>   
        
            <ng-container *ngIf="mostrarRegistrarHistorial">
                <app-registar-historial 
                (onVolver)="cleanInitMethod()" 
                [carroSeleccionadoDetalles]="carroSeleccionadoDetalles"
                (historialGuardado)="actualizarHistorial()"></app-registar-historial>
            </ng-container>

    </app-popup-generico>