
<div class ="row contenedor-principal">

    <div class="col">
        <div>
            <div class="contenedor-prueba-1">
                <h1>PRUEBA CONTENEDOR 1</h1>
                <h1>ESTO ES UNA PRUEBA DEL CONTENEDOR 1</h1>
            </div>
        </div>
    </div>    

    
        <div class="col">
            <div *ngIf="false">
                <div>
                    <div class="contenedor-prueba-2">
                        <h1>PRUEBA CONTENEDOR 2</h1>
                        <h1>ESTO ES UNA PRUEBA DEL CONTENEDOR 2</h1>
                    </div>
                </div>
            </div>
        </div>

</div>