    .separator {
        gap: 1.5em;
    }

    .dates-container {
        margin-bottom: 3em;
    }

    .size-filters-selected-input {
        min-width: 12em;
    }

    .size-filters-selected-input#car-selected  {
        min-width: 20em ;
    }

    ::ng-deep .mat-datepicker-content,
    ::ng-deep .cdk-overlay-container {
        z-index: 1070 !important;
    }

    /*************  Clases estilos calendario picker back-ground negro

    */
    ::ng-deep .toggle-picker-enabled .mdc-icon-button {
        color: white !important;
        background-color: #007bff !important;
        margin-left: -15% !important;
        transform: scale(0.8);
        padding: 0;
    }
    
    /* background color of the icon when disabled  */
    ::ng-deep .toggle-picker-disabled .mdc-icon-button {
        color: #9e9e9e !important;
        background-color: transparent !important;
    }
    
    ::ng-deep .picker-custom-disabled .mat-mdc-text-field-wrapper {
        background-color: rgb(44, 43, 43) !important;
        border: 1px solid rgba(255, 255, 255, 0.4); /* border equivalente: Borde 1px sólido con un color claro */
        border-radius: 0.25rem; /* rounded equivalente: Bordes redondeados */
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); /* shadow-sm equivalente: Sombra pequeña */
    }
    
    ::ng-deep .mat-mdc-text-field-wrapper {
        background-color: rgb(44, 43, 43) !important;
        border: 1px solid #007bff; /* border equivalente: Borde 1px sólido con un color claro */
        border-radius: 0.25rem; /* rounded equivalente: Bordes redondeados */
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); /* shadow-sm equivalente: Sombra pequeña */
    }
    /* ************ TERMINA ESTILOS PARA DATE PICKER
    */

    .selection-modal-opener .btn.botonBuscar:hover {
        background-color: rgba(0, 123, 255, 0.1); /* Fondo con un color suave */
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
        transform: scale(1.05); /* Hace que el botón crezca un poco para resaltar */
    }

    .date-picker
    #fecha-desde::placeholder, 
    #fecha-desde:disabled,
    #fecha-hasta::placeholder, 
    #fecha-hasta:disabled {
        color: #9e9e9e;
        caret-color: transparent;
    }
        
    .date-picker #fecha-desde,
    .date-picker #fecha-hasta {
        color: white !important;
        caret-color: transparent !important;
    }

    .reset-filter-button-container {
        margin-left: auto;
        margin-right: 1em;
    }

    .input-custom-style#nombre-conductor:disabled, .input-custom-style#car-selected:disabled {
        background-color: rgb(44, 43, 43); /* Fondo gris oscuro */
        color: wheat; /* Texto blanco */
        cursor: not-allowed; /* Cambia el cursor a "no permitido" */
        opacity: 1; /* Asegura que no se vea desvanecido */
        caret-color: transparent;
        border-color:whit;
    }

    .conductor-input  {
        min-width: 18em;
    }
    