  .activeColor {
    background-color: blue;
  }

  .lupa-cursor:hover {
    cursor: zoom-in; /* Cambia el cursor a una lupa cuando se pasa el ratón sobre la imagen */
  }

  .contenidoCard {
    margin-top: 40px;
  }

  .modalHeader {
    margin-top: -1em;
    margin-bottom: -3em;
  }
  
  .botonPrevio {
    background-image: url('../../../../../assets/before.png');
  }

  /* H5 titulos estilos*/
  .subtitulo-marca-anyo  {
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    color: #3498db;;
  }



/*---- Carousel ESTILOS*/

/*---- TAMAÑO IMAGEN--- IMG SIZE*/
  #corouselDetallesVehiculo .carousel-item img {
    height: 300px; /* Mantiene la proporción */
    width: 400px;
    max-height: 300px !important;
    max-width: 400px !important;
  }

  #corouselDetallesVehiculo .inner-container img {
    height: 300px; /* Mantiene la proporción */
    width: 400px;
    max-height: 300px !important;
    max-width: 400px !important;
  }

  .btn-download {
    font-size: 13px;
  }


  .centrarImg {
    left: 14%;
    width: 85%;

  }

  .inner-container {
    display: flex;
    justify-content: flex-start;
  }

  .prev-next-btn {
    position: absolute;
  }

  .carousel-control-prev {
    left: -4em;
    top: -28em;
  }

  .carousel-control-next {
    left: 34em;
    top: -28em;
  }


  /* -----Lista estilos---- */
.width-custom {
    width: 32%;
  }

  .btn-consulta-carro {
    margin-bottom: 2em;
  }
  
  .imagen-vehiculo {
    margin-top: 2em;
  }

  .green-text {
    color: green;
    font-weight: bold; /* Resalta el texto */
  }

  .orange-text {
    color: orangered;
    font-weight: bold; /* Resalta el texto */
  }

  .blue-text {
    font-weight: bold; /* Resalta el texto */
    font-size: 14px; /* Tamaño adecuado */
    color: #55a2d1;
  }

  /* Borde gris claro (más oscuro que el blanco) */
  .list-group-item {
    border-bottom: 1px solid #a9a9a9 !important;  /* Gris más oscuro */
  }


  

