/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.defaultSizeInput {
    width: 35%;
    margin-bottom: 5%;
}

.success-snackbar {
    
    .mat-mdc-snack-bar-container .mdc-snackbar__surface {
      border-radius: 8px !important;
    }

     .mdc-snackbar__surface {
    background-color: green !important;
  }


    .mat-mdc-button.mat-mdc-snack-bar-action {
      color: white !important;
    }

  }

  .pagination-container {
    display: flex;
    justify-content: center;
  }

  #botonDetails {
    margin-right: 15%;
   }

   .small-button {
    font-size: 11px;
    padding: 4px 11px;
  
  }

  .filtrosContenedor {
    margin-top: -4%;
    margin-bottom: -3%;
    }     

    .modal-custom-size {
      /* max-width: 800px;        
      width: 80%;           
      max-height: 400px;     
      overflow-y: auto;  */
      font-size: smaller;
    }
 
    .defaultInputHeightModal {
      height: 25px;
     }
    