/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
  margin: 0; 
  font-family: Roboto, 
  "Helvetica Neue", sans-serif; 
  background-color: #32383f;
}

.defaultSizeInput {
    width: auto;
    margin-bottom: 5%;
}

.success-snackbar {
    
    .mat-mdc-snack-bar-container .mdc-snackbar__surface {
      border-radius: 8px !important;
    }

    .mdc-snackbar__surface {
    background-color: green !important;
  }


    .mat-mdc-button.mat-mdc-snack-bar-action {
      color: white !important;
    }
  }

  .error-snackbar {
    .mat-mdc-snack-bar-container .mdc-snackbar__surface {
      border-radius: 8px !important;
    }

    .mdc-snackbar__surface {
    background-color: red !important;
  }


    .mat-mdc-button.mat-mdc-snack-bar-action {
      color: white !important;
    }
  }

  /* Efecto hover para el switch */
  .filters-container .form-switch input[type="checkbox"]:hover {
    border: 2px solid transparent; /* Borde transparente por defecto */
    transition: border-color 0.3s ease
    box-shadow 0.3s ease; /* Transición suave */
  }

  .pagination-container {
    display: flex;
    justify-content: center;
  }

  #botonDetails {
    margin-right: 15%;
  }

  .small-button {
    font-size: 11px;
    padding: 4px 11px;
  
  }

  .filtrosContenedor {
    margin-top: -4%;
    margin-bottom: -3%;
    margin-left: 1%;
    }     

    .defaultInputHeightModal {
      height: 25px;
    }
    
    .tablaListaPopup
    {
      margin-top: 5%;
    }

    .input-grueso {
      border-width: 1px; /* Ancho del borde */
      border-style: solid; /* Estilo del borde */
      border-color: #007bff; /* Azul bonito */
  }

  #contenedorImagen {
    padding-left: 50px;
    padding-top: 20px;
    caret-color: transparent;
  }

  input::placeholder,
  textarea::placeholder {
      font-style: italic;
  }
  
  .modal-content {
    background-color: #25292e; /* Gris */
  }

  label {
    color: white;
  }

  .modal-title, .modal-body {
    color: white; /* Cambiar el color a blanco */
  }

  .btn-close {
    color: white !important; /* Cambiar el color a blanco */
  }

  .table td, .table- th {
    font-size: 14px; /* Cambia el tamaño según tu necesidad */
  }

  /*----- COLOR Resalte numero de unidad*/
  .custom-color-prefijo-unidad {
    color: rgb(255, 136, 0);
    font-weight: bold;
  }
  .custom-color-prefijo-unidad-no-bold {
    color: rgb(255, 136, 0);
    font-weight: lighter;
  }

  /*----- FIN COLOR Resalte numero de unidad*/
  .blue-standar-font {
    color: #55a2d1;
  }


  .deleted-market-style {
    color: rgb(255, 17, 0) !important;
    font-weight: bold !important;
  }

  .actived-market-style {
    color: rgb(46, 135, 2) !important;
    font-weight: bold !important;
  }

  .input-custom-style, .input-custom-style:focus {
    background-color: rgb(44, 43, 43); /* Fondo gris oscuro */
    border-color: #007bff; /* Borde azul */
    color: #fff; /* Texto blanco */
  }

  .input-custom-style:disabled {
    background-color: rgb(44, 43, 43); /* Fondo gris oscuro */
    color: #9e9e9e; /* Texto blanco */
    cursor: not-allowed; /* Cambia el cursor a "no permitido" */
    opacity: 1; /* Asegura que no se vea desvanecido */
    caret-color: transparent;
    border-color:rgba(255, 255, 255, 0.4);
  }

  .input-custom-style:disabled {
    cursor: not-allowed; /* Cambia el cursor a "no permitido" */
    opacity: 1; /* Asegura que no se vea desvanecido */
    caret-color: transparent;
    border-color:rgba(255, 255, 255, 0.4);
  }

  /*---- START STANDARD PARA LOS TEXTAREAS--- DEFAULT TEXT AREA SIZE*/
  
  .textarea-custom-style, .textarea-custom-style:focus {
    background-color: rgb(44, 43, 43);  /* Fondo gris oscuro */
    color: #fff;  /* Texto blanco */
    border-color: #007bff;  /* Borde azul */
    
  }

  .textarea-custom-style:disabled{
    background-color: rgb(44, 43, 43) !important;  /* Fondo gris oscuro */
    color: #fff !important;  /* Texto blanco */
    border-color: grey ;  /* Borde azul */
  }

/*---- FIN ---TAMAÑO STANDARD PARA LOS TEXTAREAS---DEFAULT TEXT AREA SIZE*/

  /*---- TAMAÑO STANDARD PARA LOS TEXTAREAS--- DEFAULT TEXT AREA SIZE*/
  .text-area-default-size {
    max-width: 300px;
  }
    /*---- FIN STANDARD PARA LOS TEXTAREAS--- DEFAULT TEXT AREA SIZE*/

  .w-15 {
    width: 15% !important;
  }

  .default-img-icon-size {
    width: 32px; 
    height: 32px;
  }

  button, img {
    caret-color: transparent;
  }

  /* Overlay para bloquear toda la UI */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(94, 88, 88, 0.488); /* Semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Aseguramos que esté encima de todo */
}

/* Estilo del spinner */
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

/* Animación del spinner */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#contenedorPrincipal {
  position: relative;
  bottom: 5em;
  left: 4em;
}

.date-picker input:disabled,
.date-picker input::placeholder{
    color: #9e9e9e;
    caret-color: transparent;
}

    

/* ----- Boton exportar excel, estilos  globales*/
.btn-excel {
  background-color: #217346; /* Verde Excel */
  border-color: #1e663b;
  color: white;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2); /* Sombra */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-excel:hover {
  background-color: #1e663b; /* Color más oscuro al pasar el mouse */
  border-color: #1b5c34;
  transform: scale(1.05); /* Efecto de agrandado */
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
}

/* Ajustar la imagen dentro del botón */
.btn-excel img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* ----- FIN Boton exportar excel, estilos  globales -----------S*/

::ng-deep.delete-img-btn {

  background: none; /* Sin fondo */
  border: none; /* Sin borde */
  padding: 0; /* Sin relleno */
  cursor: pointer; /* Cambiar el cursor a mano */
  display: flex; /* Centrar la imagen */
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease, border 0.3s ease;

}

::ng-deep.delete-img-btn:hover img {
  transform: scale(1.2); /* Aumenta el tamaño de la imagen */
  box-shadow: 0 0 8px 4px   rgba(250, 14, 14, 0.8); /* Sombra blanca */
}


  /* ***** ----Boton descargar estilos----  */
  .btn-download {
    background-color: transparent;
    border: none;
    color: #60a4fd; /* Color azul para el icono */
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out, transform 0.15s ease-in-out;
  }
  
  .btn-download:hover {
    background-color: white; /* Se pone blanco */
    color: #60a4fd; /* Mantiene el color del icono */
    transform: scale(1.1); /* Efecto de agrandar un poco */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2); /* Agrega sombra para más estilo */
  }
  
  .btn-download:active {
    transform: scale(0.95); /* Pequeña reducción al hacer click */
  }

  .botonesAccion {
    background-color: transparent !important;
    border: none;
    box-shadow: none;
  }

  /* -----Estilos genericos botoneras lista acciones -------*/
  .botonesAccion fa-icon {
    color: #55a2d1 !important;
  }
  .botonesAccion:hover fa-icon {
    color: #3b81a8 !important; /* Un tono más oscuro para efecto hover */
  }

  .botonesAccion {
    transition: all 0.3s ease; /* Transición suave para el tamaño y fondo */
  }
  
  .botonesAccion:hover {
    transform: scale(1.25); /* Hace que el botón se agrande un poco */
    background-color: rgba(85, 162, 209, 0.2); /* Fondo translúcido y suave que combina */
    box-shadow: 0 4px 8px rgba(85, 162, 209, 0.4); /* Añadir sombra sutil */
  }
  
  .botonesAccion fa-icon {
    color: #55a2d1 !important; /* Color del ícono */
    transition: color 0.3s ease; /* Transición suave para el color */
  }
  
  .botonesAccion:hover fa-icon {
    color: white !important; /* El ícono se pone blanco solo cuando el botón tiene hover */
  }

  .botonesAccion:hover span#numUnidad{
    color: white !important; /* El ícono se pone blanco solo cuando el botón tiene hover */
  }

  
/* -----FIN Estilos genericos botoneras lista acciones -------*/


/* -----START- STYLES BLINKER INPUT ERROR -------*/


@keyframes parpadeo {
  0% {
    border-color: red;
  }
  50% {
    border-color: white;
  }
  100% {
    border-color: red;
  }
}

.input-error-blink {
  animation: parpadeo 0.3s infinite;
}

.input-error {
  border: 1px solid red; 
  box-shadow: 0 0 5px red; 
}

/* -----END- STYLES BLINKER INPUT ERROR -------*/


/* -----START STANDARD BUTTON menu, submit etc -------*/

.btn-styles {
  /* background-color: #778899; */
  background-color: #60a4fd;
  border-color: #60a4fd;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.btn-styles:hover {
  transform: scale(1.1); /* Aumenta el tamaño un 10% */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
}
/* ----- END STANDARD BUTTON menu, submit etc -------*/


/* ---- START Required fields ----*/
.error-icon {
  color: red;
  font-size: 20px;
  margin-left: 8px;
  vertical-align: middle;
}

/* ----END Required fields----*/

.modal-sinc-cuu .modal-content {

  border: none !important;
  display: flow;
}

.ngx-pagination .current,
.ngx-pagination a {
  color: white !important;
}

button.btn-filter.btn, button.btn-reset-filter.btn{  
  background-color: transparent; 
  border-color: transparent;
  }

  .btn-filter img#img{
      width: 20px; /* o el tamaño que desees */
      height: 20px;
  }

  .btn-filter img#close-icon-img {
      width: 20px; /* o el tamaño que desees */
      height: 20px;
  }

  /*************  Clases estilos calendario picker back-ground negro */

/* Estilo para el icono habilitado */
.toggle-picker-enabled .mdc-icon-button {
  color: white !important;
  background-color: #007bff !important;
  margin-left: -15% !important;
  transform: scale(0.8);
  padding: 0;
}

/* Estilo para el icono deshabilitado */
.toggle-picker-disabled .mdc-icon-button {
  color: #9e9e9e !important;
  background-color: transparent !important;
}

/* Estilo para los campos de fecha deshabilitados */
.picker-custom-disabled .mat-mdc-text-field-wrapper {
  background-color: rgb(44, 43, 43) !important;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

/* Estilo para los campos de fecha habilitados */
.mat-mdc-text-field-wrapper {
  background-color: rgb(44, 43, 43) !important;
  border: 1px solid #007bff;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

/* Estilo para el placeholder */
.date-picker
#fecha-desde::placeholder, 
#fecha-desde:disabled,
#fecha-hasta::placeholder, 
#fecha-hasta:disabled {
  color: #9e9e9e;
  caret-color: transparent;
}

/* Estilo para los inputs de fecha */
.date-picker #fecha-desde,
.date-picker #fecha-hasta {
  color: white !important;
  caret-color: transparent !important;
}

/* Tamaño reducido input date-picker*/
    .date-picker {
      transform: scale(0.75); /* Reduce el tamaño al 75% */
      width: auto !important;
      min-width: 100px !important;
  }

/* ************ TAMAÑO CUSTOM DATE-PICKER */


/* START FADE-OUT STYLE WHEN NEW ENTITY IS SAVED */
  .resaltado {
    border: 2px solid #28a745;  /* Borde verde */
    animation: fadeOutBorder 1.5s ease-out forwards;  /* Animación para desvanecer solo el borde */
}

  /* Animación de desvanecimiento solo del borde */
  @keyframes fadeOutBorder {
      0% {
          border-color: #28a745;  /* Color inicial del borde */
      }
      50% {
          border-color: #28a745;  /* Mantiene el borde visible en la mitad */
      }
      100% {
          border-color: transparent;  /* El borde desaparece completamente */
      }
  }

   /* END FADE-OUT STYLE WHEN NEW ENTITY IS SAVED */

