.anyoInput {
    width: 35%;
}

.input-error {
    border-color: red;
  }

  .registroCarro {
    margin-top: 5%;
  }

  #formularioRegistrarCarro {
    margin-top: 5%;
    position: relative;
    right: 40%;
  }

  #registraCarroForm {
    padding-bottom: 20%;
  }


  .plusIcon {
    color: blue;
  }



  .tituloRegistroVehiculo {
    margin-left: 5%;
  }

  .saveButtonRegistrarCarro {
    width: 77%;
    position: absolute;
    left: 70%;
  }

.input-grueso {
    border-width: 1px; /* Ancho del borde */
    border-style: solid; /* Estilo del borde */
    border-color: #007bff; /* Azul bonito */
}


form input {
  background-color: rgb(44, 43, 43); /* Fondo gris oscuro */
  border-color: #007bff; /* Borde azul */
  color: #fff; /* Texto blanco */
}


.input-custom-style:focus,.input-custom-style:disabled {
  background-color: rgb(44, 43, 43); /* Fondo gris oscuro */
  border-color: #007bff; /* Borde azul */
  color: #fff; /* Texto blanco */
}

.defaultSizeInput {
  width: 35%;
  margin-bottom: 2%;
}

.input-custom-style:disabled {
  cursor: not-allowed; /* Cambia el cursor a "no permitido" */
  opacity: 1; /* Asegura que no se vea desvanecido */
  caret-color: transparent;
  border-color:rgba(255, 255, 255, 0.4);
}
