.formContainer {
  margin-left: 3em;
}

.anyoInput {
    width: 35%;
}

.input-error {
    border-color: red;
  }

  .registroCarro {
    margin-top: 5%;
  }

  #formularioRegistrarCarro {
    margin-top: 5%;
    position: relative;
    right: 40%;
  }

  #registraCarroForm {
    padding-bottom: 20%;
  }

  .plusIcon {
    color: blue;
  }

  .bloque-input {
    width: auto;
  }

  .textarea-custom-style {
    width: 20em;
    height: 5em;
  }

  label {
    margin-bottom: 0.5em;
  }

  .text-area-position {
    margin-left: 7em;
  }


  .tituloRegistroVehiculo {
    margin-left: 5%;
  }

  .saveButtonRegistrarCarro {
    width: 77%;
    position: absolute;
    left: 70%;
  }

.input-grueso {
    border-width: 1px; /* Ancho del borde */
    border-style: solid; /* Estilo del borde */
    border-color: #007bff; /* Azul bonito */
}


.input-custom-style:focus,.input-custom-style:disabled {
  background-color: rgb(44, 43, 43); /* Fondo gris oscuro */
  border-color: #007bff; /* Borde azul */
  color: #fff; /* Texto blanco */
}

.input-custom-style:disabled {
  cursor: not-allowed; /* Cambia el cursor a "no permitido" */
  opacity: 1; /* Asegura que no se vea desvanecido */
  caret-color: transparent;
  border-color:rgba(255, 255, 255, 0.4);
}

.defaultSizeInput {
  width: 12em;
  margin-bottom: 2%;
}

.number-input-custom-style {
  width: auto;
  max-width: 5em;
}

.number-input-custom-style::placeholder {
  font-size: 0.80em;
}

.separador {
  margin-top: 2.5em;
}

.select-custom-style {
  font-size: 12px; 
}

.file-selector-input {
  min-width: 17em;
}

.ml-8 {
  margin-left: 3em;
}

input:disabled {
  cursor:not-allowed;
}

.custom-style {
  margin-top: -1em;
}

.number-input-custom-font {
  max-width: 3.5em;
  font-size: 20px;
}

.number-input-custom-font {
  font-size: 22px;
  width: 3em;
}

.dias-por-vencer #diasPorVencer {
  margin-left: 2em; 
  min-width: 3.5em;
}

/* Clases estilos calendario picker back-ground negro

*/
@keyframes parpadeo {
  0% {
    border-color: red;
  }
  50% {
    border-color: white;
  }
  100% {
    border-color: red;
  }
}

.input-error-blink {
  animation: parpadeo 0.3s infinite;
}

/* Clases estilos calendario picker back-ground negro

*/

/* Icono selector blanco con fondo azul */
::ng-deep .toggle-picker-enabled .mdc-icon-button {
  color: white !important;
  background-color: #007bff !important;
  margin-left: -15% !important;
  transform: scale(0.8);
  padding: 0;
  }
  
  ::ng-deep .toggle-picker-disabled .mdc-icon-button {
  color: #9e9e9e !important;
  background-color: transparent !important;
  }
  
  ::ng-deep .picker-custom-disabled .mat-mdc-text-field-wrapper {
  background-color: rgb(44, 43, 43) !important;
  border: 1px solid rgba(255, 255, 255, 0.4); /* border equivalente: Borde 1px sólido con un color claro */
  border-radius: 0.25rem; /* rounded equivalente: Bordes redondeados */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); /* shadow-sm equivalente: Sombra pequeña */
  }

  ::ng-deep .mat-mdc-form-field-input-control, ::ng-deep .mat-mdc-form-field-input-control::placeholder  {
    background-color: rgb(44, 43, 43) !important;
    color: #9e9e9e !important;
  }
  
  ::ng-deep .mat-mdc-text-field-wrapper {
  background-color: rgb(44, 43, 43) !important;
  border: 1px solid #007bff; /* border equivalente: Borde 1px sólido con un color claro */
  border-radius: 0.25rem; /* rounded equivalente: Bordes redondeados */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); /* shadow-sm equivalente: Sombra pequeña */
  }
  
  
  /* ************ TERMINA ESTILOS PARA DATE PICKER
  
  */


  /*
  
  Estilos indicadores fecha vencimiento 

  .
  */

  .dias-por-vencer .yellow-warn {
    color:orange;
  }

  .dias-por-vencer .danger-warn {
    color:orangered;
  }

  .dias-por-vencer .green {
    color: green;
  }

 /* ************ Estilos imagenes selector
  
  */
  .imagenes-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes pasen a la siguiente línea si no caben */
    gap: 20px; /* Espacio entre las imágenes */
  }
  
  .imagen-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .imagen-wrapper img {
    width: 200px; /* Ajusta el tamaño de la imagen */
    height: 200px; /* Ajusta la altura para un tamaño uniforme */
    object-fit: cover; /* Esto asegura que la imagen no se deforme, pero se recorta si es necesario */
    border-radius: 5px; /* Bordes redondeados opcionales */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
  }
  
  .imagen-wrapper button {
    margin-top: 5px; /* Espacio entre la imagen y el botón */
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
  }
  

   /* ************ FIN Estilos imagenes selector
  
  */

  .delete-img-btn {

    background: none; /* Sin fondo */
    border: none; /* Sin borde */
    padding: 0; /* Sin relleno */
    cursor: pointer; /* Cambiar el cursor a mano */
    display: flex; /* Centrar la imagen */
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease, border 0.3s ease;

  }

  .delete-img-btn:hover img {
    transform: scale(1.2); /* Aumenta el tamaño de la imagen */
    box-shadow: 0 0 8px 4px   rgba(250, 14, 14, 0.8); /* Sombra blanca */
}

  .default-img-icon-size#img {
    width: 25px;
    height: 25px;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease, border 0.3s ease; /* Suaviza la transición */
  }
  
  .msj4ImgMax {
    color: orangered; 
    margin-top: 0.5em;
  }

  .button-container {
    display: flex;
    justify-content: space-between; /* Separa los grupos de botones */
    align-items: center;
  }

  .right-buttons {
      display: flex;
      gap: 10px; /* Espacio entre los botones "Atrás" y "Siguiente" */
      margin-left: auto; /* Mueve estos botones a la derecha */
      margin-right: 30em;
  }

  .btn-styles {
    /* background-color: #778899; */
    background-color: #60a4fd;
    border-color: #60a4fd;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

  }

  .btn-styles:hover {
    transform: scale(1.1); /* Aumenta el tamaño un 10% */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
  }

  .btn-primary:disabled {
    cursor: not-allowed !important; /* Permite que el cursor cambie */
    pointer-events: auto !important; /* Reactiva los eventos del mouse */
}


 /* ************Estilos step navegador selector */

.step-navigation {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.step-navigation button {
  background-color: transparent;
  border: none;
  color: #60a4fd;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease, transform 0.3s ease;  /* Añadido para la transición de tamaño */
}

.step-navigation button:hover {
  background-color: #60a4fd;
  color: white;
  transform: scale(1.1);  /* El tamaño aumenta al 110% */
}

.step-navigation button.active {
  background-color: #60a4fd;
  color: white;
  cursor: default;
}

 /* ************ FIN step navegador estilos  */
  
 

 /* ************ Iconos grandes step form  */
.larger-icon {
  width: 50px;  /* Increase width */
  height: 50px; /* Increase height */
}
 /* ************ Fin grandes step form  */

  /* ************ Titulos estilos  */
h2 {
  font-size: 28px;  /* Tamaño más grande para destacar el título */
  font-weight: 600;  /* Un peso de fuente que lo haga más prominente */
  color: #60a4fd;  /* Un color gris oscuro para un contraste adecuado */
  text-transform: capitalize;  /* La primera letra de cada palabra en mayúsculas */
  margin-bottom: 15px;  /* Espacio debajo del título */
  border-bottom: 2px solid #60a4fd;  /* Línea delgada y colorida debajo del título */
  padding-bottom: 10px;  /* Espacio entre el texto y la línea */
}
 /* ************ fin titulos estilos  */


  /* ***** ----Boton descargar estilos----  */
.btn-download {
  background-color: transparent;
  border: none;
  color: #60a4fd; /* Color azul para el icono */
  font-size: 18px;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out, transform 0.15s ease-in-out;
}

.btn-download:hover {
  background-color: white; /* Se pone blanco */
  color: #60a4fd; /* Mantiene el color del icono */
  transform: scale(1.1); /* Efecto de agrandar un poco */
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2); /* Agrega sombra para más estilo */
}

.btn-download:active {
  transform: scale(0.95); /* Pequeña reducción al hacer click */
}
  /* ************ FIN boton descargar estilos  */
  




.pdf-container {
  border: 2px solid #2f4f4f; /* Borde alrededor de los botones */
  border-radius: 8px; /* Bordes redondeados */
  padding: 15px; /* Espaciado interno */
  background-color: transparent; /* Sin fondo */
  box-shadow: none; /* Sin sombra */
  display: inline-block;
  margin-bottom: 2em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
  transition: all 0.3s ease; /* Transición suave */
}

.btn-delete-pdf {
  margin-bottom: 2em;
} 

.text-area-styles {
  margin-left: 10em;
}

.pdf-container small {
  color: white;
}

  /* ************ Boton restaurar formulario estilos  */
.btn-reset {
  background-color: transparent;
  border: 2px solid #007bff;
  border-radius: 8px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-reset img {
  transition: transform 0.3s ease-in-out;
}

.btn-reset:hover {
  background-color: #007bff;
  border-color: #0056b3;
  transform: scale(1.1);
}

.btn-reset:hover img {
  transform: scale(1.2);
}
  /* ************ Fin Boton restaurar formulario estilos  */

  .error-icon {
    color: red;
    font-size: 20px;
    margin-left: 8px;
    vertical-align: middle;
}

.icono {
  color: wheat; /* Azul vibrante y elegante */
}

.step-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Separa los elementos */
  width: 100%;
}

.icon-container {
  position: relative;
  left: 60em;
  top: 18em;
}

.marginBotton {
  margin-bottom: 9em;
} 

.step-navigation {
  margin-left: 13em;
}






