<table class="table table-striped">
  <thead class="table-dark">
  <tr>
    <th>Numero de Identificación</th>
    <th>Desde</th>
    <th>Hasta</th>
    <th>Descripción Vehiculo</th>
    <th>Conductor</th>
    <th>Fecha</th>
    <th>Acciones</th>
  </tr>
  </thead>

  <tbody class="table-dark">
  <tr *ngFor= "let viaje of viajes | paginate: { itemsPerPage: 10, currentPage: p}">
    <td>{{ viaje.id }}</td>
    <td>{{ viaje.ruta.origen }}</td>
    <td>{{ viaje.ruta.destino }}</td>
    <td>{{ viaje.carro.marca + ' ' +  viaje.carro.modelo }}</td>
    <td>{{ (viaje.conductor.nombre ? viaje.conductor.nombre  + " " +  viaje.conductor.apellido   : 'No definido') | uppercase }}</td>
    <td>{{ viaje.fecha | date:'dd/MM/yyyy HH:mm:ss' }}</td>
    <td>
      <button title="Ver detalles del Vehiculo"  class="btn btn-primary botonesAccion small-button">
        <span class="button-icon"><fa-icon class="eyeIcon" [icon]="eyeIcon"></fa-icon></span>
      </button>
      <button title="Editar Vehiculo" class="btn btn-warning botonesAccion small-button">
        <span class="button-icon"><fa-icon class="editIcon" [icon]="editIcon"></fa-icon></span>
      </button>
      <button title="Eliminar Vehiculo" class="btn btn-danger botonesAccion small-button">
        <span class="button-icon"><fa-icon class="deleteIcon" [icon]="deleteIcon"></fa-icon></span>
      </button>
    </td>
  </tr>
  </tbody>
</table>
<div class="pagination-container">
  <pagination-controls 
  (pageChange)="p = $event"
   previousLabel="Anterior" 
  nextLabel="Siguiente"></pagination-controls>
</div>


